[2015-12-04 23:34] zdfs opened #1 "Testing Framework"
So I'll help write tests. Anyone have an opinion on what they'd like to use? I thought the simplest thing might be Mocha/BDD/JSDOM.

Thoughts. Votes.

[2015-12-04 23:35] lgarron opened #2 "Feature request: Support `element.createChild` (and maybe a few other DOM methods)"
After working on the Chrome DevTools source, what I miss most in vanilla JS is `element.createChild` and a few related methods.

It turns this:

    var span = document.createElement("span");
    span.classList.add("class-name");
    span.textContent = "Hi!";
    document.getElementById("parent").appendChild(span);

into:

    document.getElementById("parent").createChild("span", "class-name").tex

[2015-12-04 23:36] lgarron commented on #2
See [`DOMExtension.js`](https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/devtools/front_end/platform/DOMExtension.js&q=%22Element.prototype.createChild%20=%20function(elementName,%20className,%20customElementType)%22&sq=package:chromium&type=cs&l=457) for the definition in Chrome.

[2015-12-04 23:43] lgarron commented on #2
Ooh, I missed the `create` method.

[2015-12-04 23:43] #2 closed

[2015-12-05 00:36] dperrymorrow commented on #1
I would be willing to write some tests as well.
If it were up to me I would choose Karma with Jasmine. Purely from the standpoint of thats what I have the most experience with.

Karma will let you test in many different browsers easily which I'm expecting to be important on a project like this.

http://karma-runner.github.io/0.13/index.html

[2015-12-05 00:42] zdfs commented on #1
I don't mind Karma, I just hate configuring it. You want to pick up that part?

[2015-12-05 00:45] dperrymorrow commented on #1
sure thing, karma works great with mocha too, wanna use that instead of Jasmine?

[2015-12-05 00:52] zdfs commented on #1
Yeah. I like Mocha more than Jasmine. But either way works. I've used them all at some point. The syntax will basically be the same.

[2015-12-05 02:01] dperrymorrow commented on #1
there ya go...

[2015-12-05 14:38] lipis opened #6 "Something can't fit on the page and there is a horizontal scrolling"
But I'm too lazy to figure out what's wrong.. :)

<img width="1102" alt="screen shot 2015-12-05 at 15 37 02" src="https://cloud.githubusercontent.com/assets/125676/11608313/20daf6f2-9b66-11e5-8ba0-8b1a42265ab5.png">

[2015-12-05 14:45] lipis commented on #1
Would be nice to setup TravisCI as well..

[2015-12-05 20:05] LeaVerou commented on #6
Huh, odd. I can’t reproduce it. Which browser?

[2015-12-05 20:07] LeaVerou commented on #1
You guys rock, thanks!
And yes, I will set up TravisCl once we have some tests :)

[2015-12-05 20:11] lipis commented on #6
Yes.. sorry..Chrome.. but I'm on dev channel so you can ignore I guess: Version 48.0.2564.22 dev.

![screen shot 2015-12-05 at 21 10 53](https://cloud.githubusercontent.com/assets/125676/11609950/c1bed060-9b94-11e5-9bd8-cf378bdfb204.png)

[2015-12-05 20:52] dperrymorrow commented on #1
:+1: for sure, would be nice to see that tests are passing on pull requests.

[2015-12-05 21:30] kimroen opened #9 "Viewing method implementation for `$` and `$$` doesn't work as expected"
I love this feature of being able to view the implementation right in the documentation!

There is a bug where the documentation for [`$()`](http://blissfuljs.com/docs.html#fn-$) is actually showing the implementation for [`$$()`](http://blissfuljs.com/docs.html#fn-$$), and the documentation for `$$()` shows `undefined`.

This is because [the code that finds the source](https://github.com/LeaVerou

[2015-12-05 21:51] benjamingr opened #11 "Prefer natives"
Hey, some of the methods in bliss duplicate stuff native JavaScript does - I think it would be nice if bliss polyfilled these methods instead of duplicating them. For example: `$.extend` and `Object.assign`.

[2015-12-05 22:35] LeaVerou commented on #11
`Object.assign()` is not the same thing as `$.extend()`. This is pointed out in [the docs](http://blissfuljs.com/docs.html#fn-extend).

[2015-12-05 22:35] #11 closed

[2015-12-05 22:35] LeaVerou commented on #9
Gah, yeah, I should special case those. Thanks for the tip!!

[2015-12-05 22:41] #9 closed

[2015-12-06 00:15] kimroen opened #13 "Calling $.create with no arguments creates element"
When running this code:

[code]

`myElement` is an `Element` with `tagName` `UNDEFINED` (like `<undefined></undefined>`).

It should probably either throw a `TypeError` complaining about the number of arguments (like `document.createElement`), or create a `div`, like passing in an empty object does.

[2015-12-06 02:09] #13 closed

[2015-12-06 02:11] LeaVerou commented on #13
Yeah, it should just create a div. Good catch! Just pushed a quick fix, hope it works!

[2015-12-06 02:13] LeaVerou commented on #6
Can you run `console.log(innerWidth, innerHeight)` in the console and let me know what it says?

[2015-12-06 08:01] seebaermichi commented on #6
I recognized the same issue in Firefox 42 on Mac Yosemite and on Windows 10 latest Edge and Firefox. It obviously depends on the browser-window size.
What I found out so far, it might have something to do with the code within pre- and code-boxes. So in Firefox there is much more space for indentation as in Chrome and it tries to fit code within the box.
![screenshot_blissfuljs_firefox42_mac](https

[2015-12-06 13:34] r3wt opened #19 "array merge"
ever needed to merge 1 or more arrays?

adding this to the prototype is tacky, and would necessitate its own file. instead provide a function that takes infinite arguments. heres the prototype:
[code]
if you feel like its useful, just use it. no attribution necessary.

[2015-12-06 18:26] lipis opened #20 "What should be the actual name?"
I think you have to stick to one..

https://github.com/LeaVerou/bliss/blob/gh-pages/package.json#L2
https://github.com/LeaVerou/bliss/blob/gh-pages/bower.json#L2
https://github.com/LeaVerou/bliss/blob/gh-pages/index.html#L6
https://github.com/LeaVerou/bliss/blob/gh-pages/index.html#L15

- Bliss
- Blissful
- Blissful.js
- Bliss.js

I know it's the hardest part.. but I think we'll have to use one :)

[2015-12-06 18:39] kimroen opened #22 "Calling `set` on arrays with an object fails"
As an example, try this code in the console on the [Bliss Docs page](http://blissfuljs.com/docs.html):

[code]

This fails with the following error in Chrome:

[code]

The error points at this line: https://github.com/LeaVerou/bliss/blob/10bd9ad6e4231fa3399d6e4cfac7ef6d06e2d6d4/bliss.js#L575

There is a failing test for this included in the tests for `$.set`, over at #21.

[2015-12-06 21:11] kimroen opened #25 "Creating an element with $.create passing in `tag` adds a `tag` attribute"
Creating an element like this:

[code]

results in the following element:

[code]

The alternative invocation works as expected:

[code]

[code]

The things you find while writing tests!

[2015-12-07 05:30] LeaVerou commented on #1
Hmm, anyone has any idea why Travis doesn't seem to be working? I activated this repo on travis-ci.org, I added a .travis.yml file, nothing… What did I forget?

[2015-12-07 06:04] #22 closed

[2015-12-07 06:05] LeaVerou commented on #22
Thanks man! Wow, that was a pretty serious bug I introduced there last night!!

[2015-12-07 06:06] LeaVerou commented on #20
The name is always bliss or blissfuljs if bliss is not available. :)

[2015-12-07 06:06] #20 closed

[2015-12-07 06:14] #25 closed

[2015-12-07 06:23] LeaVerou commented on #25
Nice catch, thanks!

[2015-12-07 10:03] verpixelt commented on #6
I've opened a PR with a possible solution, tested in FF 42 on OS X 10.11.1 https://github.com/LeaVerou/bliss/pull/28.

[2015-12-07 10:34] kurtextrem opened #29 "Let elemens be created using the <tag> syntax"
jQuery:
`$('<div>')`

wouldn't sacrifice perf too much if only the first char is checked `expr[0] === '<'`, call `create(expr.slice(1, -1)`

[2015-12-07 10:58] kurtextrem opened #31 "Add browser support table to the readme"
Currently, there is no clear "Which browsers are supported?". Would be great to know your intention.

For example, I've asked myself why the fetch method doesn't first check if the native fetch API is available.

[2015-12-07 14:11] jdcauley opened #34 "Errors in Safari"
Project Home page http://blissfuljs.com/ crashes safari
http://d.pr/i/1lK4X

Safari 9.0.1
OSX 10.11.1 (El Capitan)
MacBook Pro (13-inch, Mid 2012)

[2015-12-07 17:35] zdfs commented on #1
@LeaVerou I'm wondering if it's because there's nothing in the master branch. Could be that we need to tell Travis that we're not using master somehow?

[2015-12-07 17:37] zdfs commented on #1
Try something like?

[code]

[2015-12-07 18:09] LeaVerou commented on #34
I have almost exactly that setup and cannot reproduce…

[2015-12-07 18:14] LeaVerou commented on #29
Actually, I think the same function doing completely different things is a bit of a usability problem. This is why there's also a separate `$.ready()` instead of overloading `$()` (which I considered for very long).
Not a super strong opinion though. :)
Thanks for posting a suggestion!

[2015-12-07 18:14] #29 closed

[2015-12-07 18:15] zdfs commented on #34
I see the error, but it's not crashing the page.

[2015-12-07 18:22] LeaVerou commented on #34
Oh right, I see the errors too! Will look into it asap.

[2015-12-07 19:24] zdfs commented on #1
Ah. Here we go. Seems like this is the official answer. http://stackoverflow.com/questions/12878568/travis-ci-triggers-build-only-for-master-branch-in-github-repo

[2015-12-07 19:27] zdfs commented on #1
Ok. We have builds and a testing framework. Closing this out. We should probably make individual issues for needed tests.

[2015-12-07 19:27] #1 closed

[2015-12-07 19:33] zdfs opened #35 "Remove Chrome from Karma config?"
Thinking about taking Chrome out of the Karma config, just to remove those errors in the build. Seems pretty simple for anyone working on the project to add Chrome if they want it. Personally, I'm ok with just PhantomJS.

Thoughts?

[2015-12-07 19:48] dperrymorrow commented on #35
thats cool, when writing test i like to have a physical browser so that i can debug in the console via debugger statements, but yes for CI Phantom only would be the way to go it seems.

[2015-12-07 19:51] zdfs commented on #35
Agreed.

[2015-12-07 21:15] dperrymorrow opened #37 "Tabs?"
so is this project's code style tabs? I see that the ```bliss.js``` file has tabs instead of spaces. @LeaVerou should all code follow this convention?

Any other conventions we should be aware of?
One possibility to make sure everyone adheres to your conventions is to add a lint / hint runner to Karma.

**for example:** adding https://www.npmjs.com/package/karma-jshint-preprocessor to the test run

[2015-12-07 21:40] zdfs commented on #37
It's tabs.http://lea.verou.me/2012/01/why-tabs-are-clearly-superior/

[2015-12-07 22:05] LeaVerou commented on #37
The problem with linters is that often they enforce rigid code style conventions over one’s good judgement. For example, I prefer double quotes over single quotes, but use single quotes if typing a string literal that contains double quotes, as I find that more readable than escaping the quotes. A linter would not allow this kind of flexibility.
Also, the code style is **tabs for indentation, spac

[2015-12-07 22:10] zdfs commented on #37
I guess we can close this out then?

[2015-12-07 22:24] LeaVerou commented on #37
Guess so. In any case, I’m open to any linter that doesn’t have the aforementioned issues. I’m not against linters in general, I’m against overly opinionated tools. :)

[2015-12-07 22:24] #37 closed

[2015-12-07 22:25] zdfs commented on #35
This is merged. Closing out.

[2015-12-07 22:25] #35 closed

[2015-12-07 22:31] zdfs opened #38 "Tests for $()"
Putting this as a placeholder. I'm starting work on these.

[2015-12-07 22:44] #6 closed

[2015-12-07 22:49] slavikse opened #39 "Error when using bliss + underscore + browserSync (liveReload)"
The error seen when using the browserSync - stops working liveReload, in its absence, there is no error.
Please fix as soon as possible :)

The text of the error:
Uncaught TypeError: Cannot read property 'listeners' of undefined
A block of code:
...
// Hijack addEventListener and removeEventListener to store callbacks
...
var listeners = this[_].bliss.listeners = this[_].bliss.listeners || {};
...

[2015-12-07 22:56] dperrymorrow commented on #37
cool, thanks for explanation, I usually use spaces but I don't feel strongly either way. Didn't mean to come across sounding that way.

most linters can be customized, to turn off things like linting indentation, and quote style.
for example https://github.com/dperrymorrow/moment/blob/develop/Gruntfile.js#L66

If i could make a linter accept the style ```bliss.js``` is currently written in would y

[2015-12-07 23:01] LeaVerou commented on #39
This very weird. Which line number is it reporting for the error (the code you pasted occurs in two places).
Any chance you could put a `console.log(this);` line there and tell me what it prints?

[2015-12-07 23:02] dperrymorrow commented on #38
is there a section of code you would like me to work on tests for?
looks like ``clone`` is next up if going by order of the documentation of methods.

[2015-12-07 23:05] LeaVerou commented on #31
It doesn’t because then it would have to be a polyfill for the Fetch API, and it doesn’t quite follow it to the letter (mainly the object that is passed to the promise is different). Also, I’m not sure if the Fetch API is quite ready yet, at least with an XHR object there is a way to abort the request, which is still not possible with the Fetch API.
As a little historical background, `$.fetch()` e

[2015-12-07 23:06] LeaVerou commented on #31
That said, there’s no browser support table, because browser support depends a lot on choice of polyfills, if any. If all needed functionality is polyfilled, it should definitely work in at least IE9.

[2015-12-07 23:08] LeaVerou commented on #38
I’d suggest leaving `clone` last, as it’s only present in Bliss Full.

[2015-12-07 23:28] guoguo12 commented on #38
Wait, is Bliss Full a pun?

@dperrymorrow: I'll do tests for `$.around`, so you can do `$.after` if you want.

[2015-12-07 23:32] zdfs commented on #38
Would you all mind making an individual issue for the tests you're writing? That way, we know what's being worked on?

[2015-12-07 23:33] guoguo12 commented on #38
Sure.

[2015-12-07 23:33] guoguo12 opened #41 "Tests for $.around"
I'm starting work on this.

[2015-12-07 23:34] slavikse commented on #39
Error with package underscore, rechecked link libraries and the exclusion underscore, the error disappeared.
I conclude that combined bliss + underscore + browserSync (liveReload) appears the error.

ps: console.log (this) - I do not understand what you want me to write? :)
check yourself :) underscore + bliss + browserSync (function - liveReload)

[2015-12-07 23:40] zdfs commented on #38
Changelist for this: 630947d6336d830574eea60350a27c7aba313238

[2015-12-07 23:40] #38 closed

[2015-12-07 23:43] zdfs commented on #19
@LeaVerou - Lea, is this something you want for Bliss? Just calling your attention to it.

[2015-12-07 23:46] zdfs commented on #39
@slavikse - Is there any more information you can give us? None of us are using your unique environment. Not sure how to duplicate or where the error is being thrown.

[2015-12-07 23:47] #41 closed

[2015-12-07 23:49] zdfs commented on #31
This sounds like a won't fix. Any objections.

[2015-12-07 23:51] guoguo12 opened #43 "Bliss logo on docs page should link to home page"
Seems intuitive. There's currently no way to go back to the home page.

[2015-12-07 23:52] guoguo12 opened #44 "Tests for $.attributes"
I'm working on this now.

[2015-12-08 00:08] #44 closed

[2015-12-08 00:20] zdfs commented on #34
Does the `EventTarget` object not exist in Safari?

[2015-12-08 01:06] LeaVerou commented on #34
It doesn’t, but that wasn’t the issue. Safari was blowing up when iterating over `HTMLElement.prototype`, and even `try...catch` didn’t suppress the errors!!
Try for yourself in the console:

[code]

I solved it in 2db03517fd2d9a1a25e09db3995d6a2850df5ede by subsetting the object with only the properties that were actually functions on a dummy element.  (as a side note, I love, love, love the whit

[2015-12-08 01:06] #34 closed

[2015-12-08 01:08] dperrymorrow opened #46 "Tests for Objects & Arrays"
Ill start with ```all``` and go from there. Ill pull request off my branch after i finish up tests for each of these methods.

Not that I'm reserving all of this, just opening an issue for where I would like to work.

so funny...

[2015-12-08 01:15] #43 closed

[2015-12-08 01:17] LeaVerou commented on #31
Not exactly a wontfix. I wouldn't be opposed at all to an interactive browser support table, where one would check polyfills and it would update automatically! :D
But I’m not going to do it, as it's not a priority. If anyone thinks it's cool though, I will merge it and style it (i.e. whoever does it shouldn't worry about styling) :)

[2015-12-08 01:19] zdfs commented on #31
Any takers? I'll leave it open for awhile to see if we get any bites, and if not, will close it out.

[2015-12-08 01:35] LeaVerou commented on #46
Awesome, thanks so much!!

[2015-12-08 01:36] wcastand opened #47 "Need Help for testing"
Hi, i wanted to contribute so i decide to test the [Events](http://blissfuljs.com/docs.html#events).
But i can't figure it out what i'm doing wrong here :
[code]
My file called "DelegateSpec.js" in the folder "tests/Events/" and i get this error by karma:
[code]
I'm quite new at testing (and already hate that :-P), so be nice with me please :-)

[2015-12-08 01:44] LeaVerou commented on #47
Hey there, thanks for contributing!
There is no `click` method on `li` elements. Only some types of elements have this natively (e.g. `a` elements).
If you were trying to fire a click event on the element, change it to:

[code]

(in a rush so haven’t checked the rest of the code)

[2015-12-08 02:52] wcastand commented on #47
Thank for the answer.
I guess chrome add itself the click function on all the elements because it worked on my test to understand delegate in chrome :)

When i use the fire function, i have no error but it didn't fire the click function from the $.delegate
I used the same code as my first post, except the line :
[code]
--------
I don't know if i have to open an other issue. But when i try to creat

[2015-12-08 04:10] LeaVerou commented on #47
I think you're using an older version. Please pull?

[2015-12-08 04:40] wcastand commented on #47
He said, Already-up-to-date.

[2015-12-08 04:59] wcastand commented on #47
Ok, i update my fork and it works. My bad here

Anyway for the test of delegate, it still doesn't work.
[code]
[code]

So when i fire 'click', the callback from the $.create works but the one from delegate doesn't.
I try to remove the event from the $.create and the result is the same.
Maybe i didn't understand how to delegate function work :/

[2015-12-08 08:42] kurtextrem commented on #31
So if I understood it correctly everything from IE9 is / should be supported?

[2015-12-08 09:45] guoguo12 commented on #47
So I rewrote the test to work independently of other Bliss methods. (I hope you don't mind, @wcastand.)

I think the issue here is that `$.delegate` legitimately doesn't work on PhantomJS. When I run my test, I'll get an error like

[code]

indicating that `Element.matches` isn't valid in PhantomJS. Replacing `Element.matches` with `Element.webkitMatchesSelector` makes the test pass on PhantomJS.

[2015-12-08 10:40] haimyul opened #49 "Endless recursion loop on Internet Explorer"
Loading of bliss with a "script" tag in a html file fails on Internet Explorer versions 9 - 11.

I tried to debug this and found that the problem is in line 634 of bliss.js:

Object.defineProperty(this, _, {

when execution arrives this line it enters an endless recursion loop and eventually throws "Out of stack space".

[2015-12-08 11:34] paazmaya opened #50 "Tag releases"
Please use the `git tag` for marking any releases, that might be made available to `npm` or other 3rd party managers.
Using tags make it easier to inspect any changes between the given tags.

[2015-12-08 13:37] LeaVerou commented on #50
Ah right, I keep forgetting. Will do!

[2015-12-08 13:39] LeaVerou commented on #49
Ouch, that’s bad. I will look into this today.

For anyone reading this thread: This bug only applies to Bliss Full. Bliss Shy should work just fine.

[2015-12-08 13:40] LeaVerou commented on #31
With polyfills, yes.

[2015-12-08 15:23] wcastand commented on #47
Hi,
I don't mind at all. Thanks for the help !
I will continue to test the others methods of Events.

[2015-12-08 16:27] zdfs commented on #50
This isn't a bug, so closing it out. Thanks for the contribution, @paazmaya.

[2015-12-08 16:27] #50 closed

[2015-12-08 16:52] zdfs commented on #47
This begs the question, should we have tests that only execute in a real browser?

[2015-12-08 16:54] guoguo12 commented on #47
Honestly, I wouldn't mind. PhantomJS is being really buggy for me on watch mode. I'll `karma start` and everything will pass, and then I'll save one of the test files without changing anything and PhantomJS will fail. Am I missing something about how PhantomJS operates during watch mode?

[2015-12-08 17:02] wcastand commented on #47
I actually had the same issue when i was trying to figure it out delegate. Sometime my test just didn't pass on my DelegateSpec.js and at one point i get an error on a bliss file. i just save the file again and the error disappear.
I didn't understand why.

[2015-12-08 17:04] zdfs commented on #47
Actually, maybe we can use Firefox. Travis-ci seems to have support for that.

[2015-12-08 17:06] zdfs commented on #47
I'm going to change our config to Firefox, and see if Travis builds. Probably better if we use a real browser if Travis supports one.

[2015-12-08 17:20] zdfs commented on #47
Ok. I think I'm almost there.

[2015-12-08 17:22] zdfs commented on #47
Ok. It seems to be running the tests with Firefox now, but can anyone tell me if it's really running the tests or not. It seems like it is, but the counts are off: https://travis-ci.org/LeaVerou/bliss/jobs/95623030

[2015-12-08 17:24] zdfs commented on #47
According to the screenshot here (http://www.sitepoint.com/testing-javascript-jasmine-travis-karma/), it seems like that's the normal behavior.

[2015-12-08 17:28] zdfs commented on #47
And I see 27 SUCCESS lines. So I think we can have a normal test now instead of some special PhantomJS version. @wcastand and @guoguo12, is there any cleanup we need to do since we have a Firefox test environment on Travis now?

[2015-12-08 17:37] guoguo12 commented on #47
Okay, great. I don't think there's any cleanup that needs to be done.

[2015-12-08 18:11] zdfs commented on #47
Close this one out then?

[2015-12-08 18:31] guoguo12 commented on #47
Sure.

[2015-12-08 18:55] LeaVerou commented on #47
Thank you all!
Sorry if this is a silly question, but why Firefox and not Chrome? AFAIK there is a Chrome launcher too…

[2015-12-08 19:04] zdfs commented on #47
Firefox is already on Travis. From what I've read, it seemed like I would need steps to build and install Chrome.

I can try Chrome and see what happens. We can always go back to Firefox.

[2015-12-08 19:06] zdfs commented on #47
I'm curious now. Going to try it.

[2015-12-08 19:06] LeaVerou commented on #47
Given that Chrome has a much higher market share, I’d prioritize that. But if it's too much of a hassle, Firefox is fine!

[2015-12-08 19:11] zdfs commented on #47
Ok. Looks like we can't start Chrome. I can get this to work. I've done it on Wercker. But it's going to take me a few tries. I don't mind.

[2015-12-08 19:21] zdfs commented on #47
Holy shit.

![screen shot 2015-12-08 at 11 20 52 am](https://cloud.githubusercontent.com/assets/619628/11665737/c80be510-9d9d-11e5-89b5-b4f1d67d10c5.png)

[2015-12-08 19:23] zdfs commented on #47
Chrome is set. Closing this out.

[2015-12-08 19:23] #47 closed

[2015-12-08 19:23] guoguo12 commented on #47
Good work!

[2015-12-08 19:40] TxHawks commented on #31
Probably too much work to maintain something like this, but since Bliss promotes polyfills over wrappers, it could be super helpful if a browser support table was included next to each method in the docs, and a polyfill for supporting said method was suggested.

[2015-12-08 20:36] LeaVerou commented on #19
Hi there,
Thanks for the contribution! However, I’d rather avoid adding new lengthy methods to Bliss unless there's existing demand, at least for the time being.

[2015-12-08 20:36] #19 closed

[2015-12-08 20:55] zdfs commented on #39
Closing this out. If you have more information that we can act on, feel free to reopen.

[2015-12-08 20:55] #39 closed

[2015-12-08 21:10] zdfs commented on #31
I'm not hearing a consensus on what people would like. I'm going to close this ticket out, but if anyone has a PR in the future addressing this problem, we'll be more than happy to take a look at it.

[2015-12-08 21:10] #31 closed

[2015-12-08 21:28] zdfs opened #53 "Tests for $$()"
Placeholder for myself to work on testing the $$() API.

[2015-12-08 21:47] zdfs commented on #53
Tests are added. Build passes.

[2015-12-08 21:47] #53 closed

[2015-12-08 22:14] guoguo12 commented on #49
I spent some time looking at this. It's pretty bizarre. So we have

[code]

and apparently when the redefinition code is evaluated, the property getter function is called immediately, causing an infinite loop.

The only workaround I found was this:

[code]

This makes everything behave as expected.

Anyway, I'm curious as to why this is happening. I'm testing on `docs.html` using IE 11 on Windows

[2015-12-08 22:31] zdfs commented on #49
Thanks for looking into this, @guoguo12.

[2015-12-08 22:31] dperrymorrow commented on #47
@zdfs if we are going to run the suite in Chrome, should i back out that change i made to get ```$.all``` to run in headless mode?

the ```expr.constructor.name``` vs ```instanceof``` business

[2015-12-08 22:33] zdfs commented on #47
You can do that. I can merge something like that as opposed to changes that affect core code.

[2015-12-08 22:42] zdfs commented on #46
@dperrymorrow  - Regarding your last PR, If you can add `sinon` to `package.json` as a straight dependency, we won't run in to NPM problems later. Just FYI.

[2015-12-08 22:43] guoguo12 commented on #49
No problem!

[2015-12-08 22:46] dperrymorrow commented on #46
oh you mean vs dev? Wouldnt that only be needed in dev *running the suite*?
if so, should I move the other frameworks karma is including as well?

```frameworks: ['mocha', 'sinon', 'fixture', 'chai'],```

[2015-12-08 22:53] LeaVerou commented on #49
Thanks for looking into it @guoguo12!!
Did you try `delete this[_]` before the function redefinition? Did it not work?
Does the `$.lazy()` method also not work in IE?

[2015-12-08 22:55] dperrymorrow opened #54 "z-index issue on bliss site"
in Chrome 47.0.2526.73 (64-bit)
there is a z-index issue with the stripes under the code snippets.

Locally i do not see this issue. It must have been resolved but not deployed.

![bliss js documentation 2015-12-08 14-52-54](https://cloud.githubusercontent.com/assets/64978/11671231/a41d7042-9dbb-11e5-8ce7-7de1c7ac2c0d.png)

[2015-12-08 22:57] guoguo12 commented on #49
Like this?

[code]
I still get an infinite loop. The error message now points to the line with the `delete` statement.

[2015-12-08 23:01] guoguo12 commented on #54
Confirmed; this was caused by 35664aeeebe847c46c00f7b3f2940e13339add42.

[2015-12-08 23:06] zdfs commented on #46
You can put `sinon` in the `devDependencies`. What I'm worried about is how NPM handles peer-dependencies. For example, `karma-sinon` downloads `sinon` for you, but I don't think that's the case with the latest versions of Node.

[2015-12-08 23:12] dperrymorrow commented on #46
ah, gotcha. will do.
good to know, i think a glazed over a warning on the console about just that :)

[2015-12-08 23:12] zdfs commented on #46
Gracias.

[2015-12-08 23:21] zdfs commented on #54
This is fixed.

[2015-12-08 23:21] #54 closed

[2015-12-08 23:28] LeaVerou commented on #49
Damn. I guess the solution you posted above would be the only way then. PR?
Minor suggestion: You don't need to define getter as a variable. Just use a named function (`function getter()`) in the other defineProperty, then you can reference it inside the function like you already do.

[2015-12-08 23:29] LeaVerou commented on #49
Also, it would be good if we can use 1 function (with arguments) for both arrays and elements, to avoid duplicating all this code. Or is IE's issue only with elements?

[2015-12-08 23:56] guoguo12 commented on #49
For some reason, I can't reproduce the error with arrays. I don't know if that's significant or not.

I'll implement the fix you suggested and make a PR.

[2015-12-09 00:16] LeaVerou commented on #49
Thank you @guoguo12!

[2015-12-09 00:21] LeaVerou commented on #47
Thank you so much @zdfs!

[2015-12-09 01:05] zdfs commented on #49
Closing this out. Let us know if there are any more problems.

[2015-12-09 01:05] #49 closed

[2015-12-09 02:53] praveenpuglia opened #59 "Should we move to a src and dist directory structure?"
It's not high priority but right now even changing the gulp file triggers the watch. It would probably be better to move the src in *src* directory and generated files in *dist* directory?

[2015-12-09 06:55] kurtextrem commented on #31
Well, I thought of adding a primitive browser support table.

[2015-12-09 11:11] kurtextrem commented on #59
:+1:

[2015-12-09 11:12] kurtextrem commented on #59
Maybe also auto generating the shy version is a good idea as well.

[2015-12-09 16:28] shshaw commented on #59
As someone trying to parse the bliss code for the first time, `src` and `dist` dirs would be quite helpful!

[2015-12-09 17:23] zdfs commented on #31
@kurtextrem - You're more than welcome to, feel free to make a PR.

[2015-12-09 17:27] guoguo12 opened #60 "More tests for $.delegate"
I'm working on this! I want to cover all of the ways `$.delegate` can be used.

[2015-12-09 17:30] zdfs commented on #60
Awesome @guoguo12. Thank you.

[2015-12-09 17:35] zdfs commented on #59
@LeaVerou What do you think about this. I was also wondering if we should separate the actual code development to a `master` branch, leaving the `gh-pages` branch for the docs. Might make it easier to tag releases.

[2015-12-09 18:01] guoguo12 commented on #59
I'm a fan of both `src`/`dist` and `master`/`gh-pages`. Or, at the very least, we should move `index.js` and `transform.js` into a subdirectory, just to make it clear those aren't part of the actual library.

[2015-12-09 18:10] dperrymorrow commented on #46
working on $.lazy will have a pull shortly

[2015-12-09 18:39] zdfs opened #61 "Tests for $.before()"
Working on this.

[2015-12-09 18:57] dperrymorrow commented on #46
would you like me to take a stab at this ```// FIXME```
or just have tests that fail for it?
or just ignore the fact that it cant override prototype properties?

[code]

[2015-12-09 19:34] Kikobeats opened #63 "Compatibility with jQuery Plugins"
Just I want to know if is in the target of the library be compatible with jQuery Plugins.

These Plugins need jQuery.fn namespaces. Actually I never implemented one, so I'm not sure if need something specific of the jQuery core or really depend of each plugin implementation.

Could be very interesting unlock this power using bliss!

[2015-12-09 19:51] zdfs commented on #61
Up to 50 unit tests. Nice work everyone.

[2015-12-09 19:51] #61 closed

[2015-12-09 20:37] praveenpuglia commented on #59
:+1: both @zdfs & @guoguo12

[2015-12-09 21:06] LeaVerou commented on #63
No, the library is not "jQuery’s API, just lighter". It has its own API. In fact, one of the reasons I don’t use jQuery is that I dislike parts of its API. I think [Zepto](http://zeptojs.com/) might be closer to what you’re looking.
Hope this helps!

[2015-12-09 21:06] #63 closed

[2015-12-09 21:08] LeaVerou commented on #46
Of course, if you want to! Thanks!
But yeah, in a separate PR :)

[2015-12-09 21:09] Kikobeats commented on #63
all right! 🙌

[2015-12-09 21:12] LeaVerou commented on #59
I have this issue with most of my projects, so I would definitely welcome a solution :(
The problem is, I want to have access to the current builds on gh-pages (e.g. for downloads or for the actual site), but without having to duplicate them. Any ideas? AFAIK git submodules don't work for branches, just directories…

:+1: to @guoguo12, yes, if we keep everything in the same dir, moving the website

[2015-12-09 21:12] LeaVerou commented on #60
Thank you so much @guoguo12!!

[2015-12-09 21:17] zdfs commented on #59
Could just have the source in `master` and then when we release, pull it in to `gh-pages` via npm and do a gulp task for copying the files somewhere for downloading?

[2015-12-09 21:18] praveenpuglia commented on #59
@LeaVerou can we not have the download links point to the **raw.github...** of the generated files on master?

[2015-12-09 21:22] wcastand commented on #60
Ok i will do the other events then, i guess.

[2015-12-09 21:31] LeaVerou commented on #60
@guoguo12 You’ve got mail :)

[2015-12-09 21:41] zdfs opened #65 "Tests for $.after()"
Working on this.

[2015-12-09 21:43] LeaVerou commented on #59
@zdfs Then it's yet another manual step, that I'd rather avoid. Also, I'd rather have the current version on the website, not the last "release".
@praveenpuglia I think that’s generally discouraged, no? Also, one more DNS lookup.

[2015-12-09 21:44] LeaVerou commented on #65
Thank you!

[2015-12-09 21:46] LeaVerou commented on #37
Yes, especially if it was customizable so I could turn off rules in the future if they turned out to be more hassle than they’re worth :)

[2015-12-09 21:47] zdfs commented on #59
Ok. So let's define what we have so far.

1. There's been a request for tagged releases on Github.
2. There's been a request for `src` and `dist` folders in the project.
3. Lea would like the latest version for download at any time.

Missing anything?

[2015-12-09 21:50] LeaVerou commented on #61
Woohoo! Thank you so much everyone!!

[2015-12-09 21:52] praveenpuglia commented on #59
@LeaVerou curious why that's discouraged. Anything other than DNS lookup issue?

[2015-12-09 21:52] guoguo12 commented on #59
@zdfs: I think that sums it up. I also suggested moving the website JS files into a separate subdirectory, but that can be addressed later.

[2015-12-09 21:55] zdfs commented on #65
These are basically just the `$.before()` tests and switching expectations. 55 unit tests. We're done with this.

[2015-12-09 21:55] #65 closed

[2015-12-09 22:01] wcastand opened #66 "Test for $.events"
Hi again,
I must be really dumb lol.
So, i test [$.events](http://blissfuljs.com/docs.html#fn-events)
Right now,i only tested with the global syntax ( $.event(subject, handlers) )
[code]
So the test is a success with the click event, but failed when i just change the value of the input.
If it was copying the events from the element, the test should pass with click event and input event.

The input

[2015-12-09 22:05] zdfs commented on #66
You're not dumb. Let's make that pristine. None of us are going to make you feel that way. Bliss is a learning tool as well as a nice utility.

Now that I have that out of the way, we can all take a look and see if we can help.

[2015-12-09 22:10] guoguo12 commented on #66
Yeah, @wcastand, you're doing great work. For example, your test for `$.delegate` was well designed and it passed on both Chrome and Firefox; it was totally PhantomJS's fault that it was failing. Don't be too hard on yourself. :smiley:

[2015-12-09 22:11] zdfs commented on #66
Agreed with @guoguo12. That test is part of the suite now. It was Phantom that was screwing up.

[2015-12-09 22:13] zdfs commented on #66
@wcastand - Comment out your test file and commit the code. We can all download your tests and play around, see if we can't spot the issue.

[2015-12-09 22:13] AVGP opened #67 "Test for $.clone"
becase you do *not* only live once!

[2015-12-09 22:14] zdfs commented on #67
Nice. Well played.

[2015-12-09 22:18] LeaVerou commented on #59
Should I wait until we decide on this before I start tagging releases?

[2015-12-09 22:21] zdfs commented on #59
@LeaVerou - We can start tagging, that won't get in the way of anything. I'm just attempting to try and find a holistic solution we can all execute on.

[2015-12-09 22:22] zdfs commented on #59
I think we have most of our criteria.

Ideas. Suggestions. The floor is open.

[2015-12-09 22:26] LeaVerou commented on #59
Isn't 4 tied to 1? If releases are being tagged, I can just npm publish, no?

[2015-12-09 22:36] zdfs commented on #66
This test is in the repo. If we can take a look and see if we can help, that would be great.

[2015-12-09 22:46] LeaVerou commented on #66
In the second example, it should be `"input click"`, i.e. without the "on".
The first one is really odd, no ideas right now…

[2015-12-09 22:50] wcastand commented on #66
Ok so the second worked with "input click".
We should update the doc on blissfuljs.com then because the example look like this:
[code]

I don't know if the use of ```$$()._.events()```  change somethins about the ```"oninput onclick"``` or ```"input click"```

[2015-12-09 22:59] zdfs commented on #66
I don't think setting the input value via javascript is the same as the user setting the input value. I don't think the change event is getting called (or the input event). I think it requires an actual user?

[2015-12-09 22:59] LeaVerou opened #69 "Helper to manage function arguments"
This is a very frequent pattern in Bliss: A function which accepts either separate arguments or objects which provide the same values en masse.
Here are a few examples:

- `$.delegate()` (2 levels of this!)
- `$.lazy()`
- `$.live()`
- `$.set()`
- `$.once()`
- `$.add()`

Also, several others that might benefit from similar handling, e.g. `$.events()`.

I was thinking, it would be nice to have a sma

[2015-12-09 23:00] LeaVerou commented on #66
Oh, you were changing the value via JS? Yeah, that doesn't fire an input event. I thought you were changing it manually!

[2015-12-09 23:01] wcastand commented on #66
The mozilla doc write that:
Also the change event is related. change fires less often than input – it only fires when the changes are committed by the user.

[2015-12-09 23:05] zdfs commented on #66
So I have this:

[code]

It passes, but is it what we want?

[2015-12-09 23:16] dperrymorrow commented on #69
If I am understanding you correctly, underscore does something like this with an internal function to process arguments for functions that support "overloading".

https://github.com/jashkenas/underscore/blob/master/underscore.js#L105

Is that what you are getting at? Or something different?

[2015-12-09 23:19] zdfs opened #71 "Karma Reporter"
@LeaVerou has mentioned it would be nice to have an HTML reporter where users can re-run the tests in the browser. I was looking at something like this: https://www.npmjs.com/package/karma-jasmine-html-reporter.

@dperrymorrow - Seen this anywhere with karma? Ideas.

[2015-12-09 23:21] dperrymorrow commented on #59
you could link to the latest version on master from the ```gh-pages``` branch.
You simply link to the raw file on github on the master branch.
__for example:__ https://raw.githubusercontent.com/LeaVerou/bliss/gh-pages/bliss.shy.min.js

that way gh-pages could simply be the docs website as one would expect.

[2015-12-09 23:25] shshaw commented on #59
You may need to use a service like [RawGit](https://rawgit.com/) in order to have the script run on the page. GitHub does not return the right headers when embedding a script from the raw URL, but RawGit gets around that.

[2015-12-09 23:27] dperrymorrow commented on #66
my 2 cents, i would use spies to keep track of the call count, makes the code cleaner too you dont have to write any functions

[code]

im using spies in ```$.lazy ``` in a similar situation if you want an example.

[2015-12-09 23:28] zdfs commented on #66
@dperrymorrow - Shit. Forgot about that. Thanks for the reminder.

Spies aside, is this how we would test something like this? Since we can't actually simulate being a user in a browser?

[2015-12-09 23:29] dperrymorrow commented on #59
oh, so does bliss website need the latest to execute, or just offer for a download link?
couldn't the website just be built off of whats recent on NPM?

[2015-12-09 23:42] zdfs commented on #66
[code]

Updated with spies. What do we think?

[2015-12-09 23:43] LeaVerou commented on #69
No, not at all, although what I'm referring to is indeed (a subset of) overloading.
What I meant was, there are many functions that have two signatures:

[code]

and the implementation is one of the following two:

[code]

[code]

[2015-12-09 23:49] dperrymorrow commented on #69
ok, I see, thanks for explaining further.
I did work with this, i have some tests around this feature for ```$.lazy```

Ill think about this.

[2015-12-09 23:50] LeaVerou commented on #66
Thanks @zdfs! Yeah, can't think of any other way. Writing automated tests that involve user interaction is not exactly a solved problem, so simulating the event is our best bet.

[2015-12-09 23:52] LeaVerou commented on #59
Relying on a third party service like rawgit makes me a bit uneasy.
Is there a way (maybe a post commit hook?) to copy files from master to gh-pages without any extra manual steps?

[2015-12-09 23:54] guoguo12 commented on #66
When you do something like

[code]

is it possible that the click doesn't get processed before the `expect` call?

[2015-12-09 23:59] zdfs commented on #66
I haven't seen that happen yet, @guoguo12. Should I worry?

[2015-12-10 00:07] zdfs commented on #66
I've added my version of the $.events tests. Take a look? See if we're all happy?

[2015-12-10 00:08] LeaVerou commented on #66
@guoguo12 I believe `click()` is synchronous, so that shouldn’t happen…

[2015-12-10 00:12] zdfs commented on #66
@wcastand - Were there more tests you wanted to write, or was that all of them? Did you have any questions on what we did?

[2015-12-10 00:37] zdfs commented on #71
I don't see anything out there that works like QUnit, where you can re-run the tests in the browser.

Which begs the question, how important is this?

[2015-12-10 00:38] zdfs commented on #66
Closing this for now, since tests have been submitted.

[2015-12-10 00:38] #66 closed

[2015-12-10 00:41] dperrymorrow commented on #71
well if you reload the Chrome browser it launches, it does re-run the tests.
Are we looking to have the tests suite as a page on the gh-pages site? Is that what you mean?

[2015-12-10 00:43] zdfs commented on #71
@dperrymorrow - Yeah. That's the use case.

[2015-12-10 00:55] dperrymorrow commented on #71
Using ```karma-htmlfile-reporter``` I'm able to generate a html file of the result of a Karma run.
Its not actually running the suite, but lists out all the tests ect...
![bliss unit tests - bliss unit tests 2015-12-09 16-52-47](https://cloud.githubusercontent.com/assets/64978/11703590/4b1d770a-9e95-11e5-9cce-42dc89d40f5a.png)

You could wire up an html page for the tests, but that would probally

[2015-12-10 01:13] guoguo12 commented on #66
@LeaVerou: Okay, I wasn't sure. For some reason I thought all JS events were queued in the event loop...

Anyway, this will make writing `$.delegate` tests easier.

[2015-12-10 01:16] zdfs commented on #71
Committing the node modules seems problematic.

[2015-12-10 01:20] dperrymorrow commented on #71
i would agree,
only thing i can think of at the moment would be to have a gulp task that makes a concatenated minified js file for the html test page from the src in of node_modules.

could work...

[2015-12-10 01:23] zdfs commented on #71
If you wanted to spend some time seeing if something like could work, it might be worth releasing. Other than that, the only path forward I'm aware of is rewriting the tests in QUnit.

[2015-12-10 01:26] zdfs commented on #59
@LeaVerou - Domenic has something like this: https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2015-12-10 01:30] zdfs opened #72 "Tests for $.inside();"
Working on this next.

[2015-12-10 01:30] dperrymorrow commented on #71
if we go down this road its just going to further complicate #59 though isn't it?

[2015-12-10 01:32] zdfs commented on #71
Possibly. Just trying to figure out what our options are. @LeaVerou: how important is this to you?

[2015-12-10 01:50] zdfs commented on #72
These are in.

[2015-12-10 01:50] #72 closed

[2015-12-10 02:14] jeremenichelli commented on #67
I can grab this one guys if it's not taken. Let me know.

[2015-12-10 04:09] zdfs commented on #67
I think there's a PR for #70. Still ironing some things out. You could write tests for $.style() or $.start() @jeremenichelli?

[2015-12-10 06:08] dperrymorrow commented on #46
I can't seem to write a failing test for ```$.lazy``` not being able to overwrite prototype properties with a getter.

Do you have any suggestions for how I can replicate what you described in the ```// FIXME```

[2015-12-10 07:58] AVGP opened #73 "$.clone doesn't clone delegated events"
This test fails but should not:

[code]

[2015-12-10 10:24] fcalderan opened #75 "Test case for $.once"
Looking into the source code I've found an undocumented method ```once``` and I've tested it: in this example I want to move one div twice, but I want to execute the ```transitionend``` handler just once.

**Expecting result**: the number inside the ```foobar```div should be increased one time in all browsers
**Actual result**: the number inside the div increases twice on Chrome ```47.0.2526.80 (6

[2015-12-10 10:26] jeremenichelli commented on #67
SURE! I'll pick one and create an issue. Please sign this issue to you so
that everyone knows you're taking care of it 😊

On Thursday, 10 December 2015, Zachary Forrest y Salazar <
notifications@github.com> wrote:

--
Jeremias Menichelli, Web Developer

*mail *jmenichelli@gmail.com
*twitter* @jeremenichelli
*g+* Jeremias Menichelli
*site* http://jeremenichelli.github.io

[2015-12-10 10:29] AVGP commented on #67
@jeremenichelli I can't assign myself - if I could, I would've done it.

[2015-12-10 10:29] jeremenichelli commented on #67
Oh didn't know that. Then a comment it's just fine.

On Thursday, 10 December 2015, Martin N. <notifications@github.com> wrote:

--
Jeremias Menichelli, Web Developer

*mail *jmenichelli@gmail.com
*twitter* @jeremenichelli
*g+* Jeremias Menichelli
*site* http://jeremenichelli.github.io

[2015-12-10 11:29] haimyul commented on #49
Thank you all for fixing this so quickly!

I'm looking forward to start using Bliss.

[2015-12-10 13:26] jeremenichelli opened #76 "Write tests for $.style"
Just creating issue so everyone knows I'm  taking care of it.

[2015-12-10 14:13] guoguo12 commented on #73
I believe it works if you do `$.create("p", {})`. `$.create("p")` creates a _text node_, so it won't match the selector `"p"` in the `delegate` call.

[2015-12-10 14:17] guoguo12 commented on #73
Oh, I see there was more discussion about this in #70. @LeaVerou, can you verify what I just wrote?

[2015-12-10 14:24] AVGP commented on #73
@guoguo12 You're right about the glitch with the text node, but the event still doesn't fire.

[code]

And either I'm really blind today, or it won't even work using addEventListener on the clone when bliss is used:

[code]

Nota bene: [This JSFiddle](http://jsfiddle.net/85pev99a/) demonstrates that this code should be okay.

[2015-12-10 14:33] guoguo12 commented on #73
@AVGP: Hmm, interesting. Are you saying it only fails during the Karma test?

[2015-12-10 14:41] AVGP commented on #73
Yes. It's weird, isn't it?

Here's yet another sample of what works:

[code]

[2015-12-10 16:15] zdfs commented on #73
Are you sure that's the only `<p>` tag on the page when you run that code?

[2015-12-10 16:15] zdfs commented on #76
Awesome. Thanks!

[2015-12-10 16:17] AVGP commented on #73
@zdfs I don't see how that matters here?
The only `<p>` elements are the one in the original element and in the clone.
`clone.querySelector` only matches on the descendants of `clone` anyway... do I misunderstand how `delegate` works?

[2015-12-10 16:22] zdfs commented on #73
I see it now. Sorry. I was worried for a second that maybe the delegated event wasn't actually being called. I need more coffee.

[2015-12-10 16:23] AVGP commented on #73
No worries, I just wanted to make sure I'm not missing the elephant in the room ;-)

[2015-12-10 16:25] zdfs commented on #73
What about adding actual contents to the p tag. In my local testing, this seems to work.

[2015-12-10 16:26] zdfs commented on #73
This:

[code]

[2015-12-10 16:31] AVGP commented on #73
@zdfs Yes, that, too, works in a normal page but not in Karma... what the heck?

[2015-12-10 16:50] zdfs commented on #73
Weird. It's working in Karma for me.

[2015-12-10 16:52] zdfs commented on #73
You're passing the `done` parameter, right?

[2015-12-10 17:49] dperrymorrow commented on #73
Probably unrelated, but might make your life easier when dealing with DOM items.
Have you tried out using HTML fixtures? That way you can just load up whatever HTML you want and not have to create it all manually with JS for each test.

https://github.com/LeaVerou/bliss/blob/gh-pages/tests/CoreSpec.js#L4-L14
https://github.com/LeaVerou/bliss/blob/gh-pages/tests/fixtures/core.html

[2015-12-10 19:22] brushed commented on #69
What about using an overload helper function, taking care of the for...in loop ?

[code]

[2015-12-10 20:19] dperrymorrow commented on #69
yeah something like that, or perhaps not a callback function and it just takes the args and returns an object;

[code]
I'm working to finish the tests around the mentioned methods above so that when this is refactored to use a helper we would have coverage to ensure its working as expected.

[2015-12-10 21:23] zdfs commented on #75
It seems like Chrome understands both `webkitTransitionEnd` and `transitionend` events and executes once for each event?

[2015-12-10 21:28] zdfs commented on #73
@AVGP - Is this still relevant? I just merged your PR.

[2015-12-10 21:29] zdfs commented on #67
We can't assign people unless they're collaborators. So we've been using comments. Just an FYI.

On a separate note, is this done?

[2015-12-10 22:10] AVGP commented on #67
@zdfs Yes, since #70 landed, this can be considered done

[2015-12-10 22:10] #67 closed

[2015-12-10 22:11] AVGP commented on #73
@zdfs unfortunately yes.

I'll try later if HTML fixtures work or if it's just my local Karma + Chrome Beta combination that behaves weird...

[2015-12-10 22:42] wcastand commented on #66
Okay, sorry guys i had to go to bed, it was 00h00 in France and i had to wake up at 5 :p
So i have one suggestion and one question.
I think we should write one on the listener with the other synthax like:
[code]
So we can test the second loop of $.events. Because bliss process .onevent in a different loop.

And my question is, when we test and for example in ```$.events``` , we have multiple uses.

[2015-12-11 01:27] dperrymorrow commented on #46
last night and just now, I have added
- tests for ```$.type``` https://github.com/LeaVerou/bliss/commit/2e0b85d424742af742edfbfac5d78f13e62cd866
- tests for ```$.extend`` https://github.com/LeaVerou/bliss/commit/d81d04900a8aeb2540d140bacfd7749a3f3b077c

[2015-12-11 03:15] guoguo12 commented on #60
Add some tests with 7cfe299150594398161d38b10ba6c292a3034cf3. They could be more comprehensive, but I'm closing this for now.

[2015-12-11 03:15] #60 closed

[2015-12-11 03:24] guoguo12 commented on #59
Any consensus on this? @zdfs: I like the Domenic script provided that it can be set up easily.

[2015-12-11 03:26] dperrymorrow commented on #59
@guoguo12 there is also talk of an html page on the site with tests running so that could complicate this issue #71

[2015-12-11 08:51] fcalderan commented on #75
@zdfs In this case I suppose that on chrome and safari the counter would be immediately ```2``` after the first animation (since they would be both executed once)

[2015-12-11 14:47] fgirardey opened #79 "Bower package not found"
Hi,

I tried to install bliss with bower (`bower install --save bliss`) and i've got the following response:

[code]

So i tried to install right from the github URL `bower install --save `https://github.com/LeaVerou/bliss.git` and i've got the following response:

[code]

I think that the package need his first tag 😇

[2015-12-11 16:46] zdfs commented on #59
There are things we can try, but no work has started. I guess we could make a `master` from `gh-pages` and see how far we get with the build to see if we can satisfy all the use cases, moving everyone to master if we're successful. Any volunteers?

[2015-12-11 16:47] praveenpuglia commented on #59
I am here!

[2015-12-11 16:49] zdfs commented on #60
@guoguo12 - The build is failing because the `$.delegate` tests seem to be failing. Can you take a look?

[2015-12-11 16:52] zdfs commented on #59
Ok. Just so we can make some progress on this story. I'm going to branch `gh-pages` to `master`. @praveenpuglia, am I correct in assuming you'd like to give it a shot. You up to date on this thread? Know all the use cases we want to solve?

[2015-12-11 16:55] wcastand commented on #59
i'm available too for testing or helping :)

[2015-12-11 16:57] zdfs commented on #59
Ok. Branch is made.

[2015-12-11 16:59] praveenpuglia commented on #59
@zdfs - Yep. But if I do something stupid, you would know! :)

[2015-12-11 17:00] guoguo12 commented on #60
Yep, I'll look into it. Sorry @wcastand for the trouble at #78!

[2015-12-11 17:02] guoguo12 commented on #60
Well, everything still works fine for me locally, just like it did when I pushed. Could it be because of 20a444457989e9043422ad35f0f4573715f796a0?

[2015-12-11 17:02] wcastand commented on #59
do we need to make a slack or something.
That could help organize et don't make the same thing twice no ?

[2015-12-11 17:03] zdfs commented on #59
I can do that.

[2015-12-11 17:07] wcastand commented on #60
No problem the test for you delegate actually worked on my computer too.
So that's weird.

[2015-12-11 17:10] zdfs commented on #59
I made a Slack instance at https://blissjs.slack.com/.

[2015-12-11 17:11] zdfs commented on #60
I'm re-running the build to see if it fails again.

[2015-12-11 17:13] zdfs commented on #60
And it does.

[2015-12-11 17:14] praveenpuglia commented on #59
Says I am not in that team. This email - praveenpuglia@gmail.com ?

[2015-12-11 17:15] wcastand commented on #59
same here. email : wcastand@gmail.com

[2015-12-11 17:15] zdfs commented on #59
I'll take a look and send out invites.

[2015-12-11 17:18] guoguo12 commented on #60
All seven of my `$.delegate` tests fail now, but the test I had at edb5836a4d793fcf7b973eb1581b6c71ef1f7a67 passed.

[2015-12-11 17:20] wcastand commented on #60
i pulled the repo and did ```karma start``` again:
[code]

It's still working for me.

[2015-12-11 17:20] guoguo12 commented on #60
Maybe it's because I took out the

[code]

I'll make a commit to check.

[2015-12-11 17:24] jcutrell opened #80 "Opt for getElementById when applicable?"
In the name of optimization, would it make sense to allow the $() method to check the passed in argument to determine if getElementById is most applicable?

https://jsperf.com/getelementbyid-vs-queryselector/218

The question would be, does the checking of the argument against a regex defeat the purpose of optimizing?

[2015-12-11 17:26] guoguo12 commented on #60
It worked! https://travis-ci.org/LeaVerou/bliss/builds/96316088

[2015-12-11 17:33] wcastand commented on #60
So we need to relaunch test on Pr or i need to make and other PR ?

[2015-12-11 17:42] zdfs commented on #60
I'll re-run the builds now.

[2015-12-11 18:06] zdfs opened #81 "Help choose what chat solution we use!"
If you need access to the Slack instance at http://blissjs.slack.com, leave your email in a comment. I'll delete it when I've added you.

Not sure how else to do this.

[2015-12-11 18:07] guoguo12 commented on #81
Thanks for setting this up! I'm guoguo12@gmail.com.

[2015-12-11 18:14] zdfs opened #82 "Project Structure"
There have been a lot of conversation so far relating to the project structure, so I'm going to summarize them all here.

1. #59: Src and dist structure.
2. #79: Bower package not found.

We have the following criteria we'd like to solve:

1. Tagged releases on Github and NPM.
2. Src and dist folders in the project.
3. Lea would like the latest version for download at any time.
4. Move website JS

[2015-12-11 18:14] zdfs commented on #59
Closing this for #82.

[2015-12-11 18:14] #59 closed

[2015-12-11 18:14] dperrymorrow commented on #81
you could git log, all the authors email addresses should be listed.
dperrymorrow@gmail.com

[2015-12-11 18:15] zdfs commented on #79
Closing this for #82.

[2015-12-11 18:15] #79 closed

[2015-12-11 18:16] zdfs commented on #71
Closing this out for #82.

[2015-12-11 18:16] #71 closed

[2015-12-11 18:17] dperrymorrow commented on #71
ok i can always take a stab later at building a gulp task to create a test web page.

[2015-12-11 18:18] dperrymorrow commented on #71
IMO i think having CI in multiple browsers might be of more priority, with something like SauceLabs

[2015-12-11 18:19] zdfs commented on #71
I think Browserstack or SauceLabs is a good idea. We can get a free account since this is open source.

[2015-12-11 18:38] softwarespot commented on #82
What about introducing a style guide? Perhaps adding jscs to gulp and using [Airbnb's Style Guide](https://github.com/airbnb/javascript)

[2015-12-11 18:47] dperrymorrow commented on #82
we have JShint running as a pre-processor on our test suite
right now its pretty loose, but we may tighten it up in the future
see #64

[2015-12-11 19:36] zdfs commented on #76
That brings us up to 100 unit tests. Thank you!

[2015-12-11 19:36] #76 closed

[2015-12-11 19:38] jeremenichelli commented on #76
It was a pleasure :smiley:

[2015-12-11 20:00] LeaVerou commented on #46
If you can't reproduce, it might not be a valid issue. Don't stress over it, just remove the comment :)

[2015-12-11 20:04] LeaVerou commented on #69
Nice work, everybody!
I would rather use the argument-centric approach in the actual functions, instead of repeating the for..in loop every time.
What @brushed suggested is closer to what I had in mind (we need to bikeshed the name though, I strongly favor names with only 1 word).
One issue is that there aren't always 2 arguments, sometimes there are other arguments before those, so it probably ne

[2015-12-11 20:30] LeaVerou commented on #73
Regarding the `$.create()` issue:

1. This is exactly why we shouldn't be using Bliss methods in tests, apart from the one being currently tested.
2. I wonder if the mistake hints that the API is confusing. Especially since, I didn't even notice it when I first read the code! Treating plain strings as text nodes is certainly useful inside `$.contents()`, but not sure about `$.create()`. Think abou

[2015-12-11 20:34] LeaVerou commented on #75
Oh, `$.once()` is undocumented indeed! That was not on purpose, it was just forgotten. We/I need to document it :)
Nice test too. Easy to fix as well, I think (it just needs a loop where it removes the event). If nobody else fixes it by tomorrow, I'll push a fix (I have a deadline tomorrow, so can't do much right now).
Thanks for both catches @fcalderan!

[2015-12-11 20:34] guoguo12 commented on #73
Agreed. It's currently way too confusing.
On Dec 11, 2015 12:30 PM, "Lea Verou" <notifications@github.com> wrote:

[2015-12-11 20:40] LeaVerou commented on #80
There is certainly a performance gain when using `document.getElementById()` instead, but in 99% of use cases, it's negligible. I'd rather favor readability and conciseness over premature optimization. On performance-critical use cases (e.g. if you're calling it thousands of times in a loop, or in a page with thousands of DOM elements), one can always call `document.getElementById()` directly or m

[2015-12-11 20:40] #80 closed

[2015-12-11 20:47] LeaVerou opened #85 "$.create() should always create elements"
See https://github.com/LeaVerou/bliss/issues/73#issuecomment-164040587

[2015-12-11 21:04] zdfs commented on #81
Nevermind. Join this instead! https://discord.gg/0hHWcV9ok6XDHGPe

[2015-12-11 21:11] LeaVerou opened #86 "$.once does not remove event handlers for multiple elements"
See #75

[2015-12-11 21:12] LeaVerou opened #87 "$.once() needs documentation"
See #75

[2015-12-11 21:16] zdfs commented on #73
Agreed.

[2015-12-11 21:24] LeaVerou commented on #81
Actually, we’re running a poll on what chat solution we should use. Please vote! https://twitter.com/blissfuljs/status/675424420341538820

[2015-12-11 22:00] dperrymorrow commented on #46
Ok, have prototype properties in the tests, and they seem to work fine.
moving on...

[2015-12-11 22:01] zdfs commented on #46
Close this out?

[2015-12-11 22:09] dperrymorrow commented on #46
yeah closed, ill make separate issues for each object / arrays method i write tests for,
only a couple left to go...

[2015-12-11 22:09] #46 closed

[2015-12-11 22:25] #85 closed

[2015-12-11 22:25] LeaVerou commented on #73
Done. :)

[2015-12-11 22:29] zdfs opened #88 "Tests for $.properties"
I'm starting on this.

[2015-12-11 22:34] dperrymorrow commented on #69
ok so,
- the helper method will handle the iteration on keys
- needs a one word name
- needs to handle variable number of items in the arguments Array
- needs to be useable multiple times for ```$.delegate```

[2015-12-11 22:36] dperrymorrow opened #89 "Tests for $.live"
I'm working on this

[2015-12-12 00:38] #86 closed

[2015-12-12 00:40] LeaVerou commented on #69
No 3 is not as liberal as that. Usually the arguments before it are of a fixed number, so we could provide an index as an argument.
Also, while I like one word names, it seems very difficult for something like this. But let's refrain from superLongJavaStyleNames() :)

[2015-12-12 00:40] LeaVerou commented on #75
Does it pass now?

[2015-12-12 00:45] LeaVerou commented on #79
We have tags now :)
As to Bower, you need to specify that you want the gh-pages branch by using `#gh-pages` after the URL.

[2015-12-12 00:46] LeaVerou commented on #82
Wellll, we have tags now :)

[2015-12-12 05:03] jonathantneal opened #90 "Bliss-ful events?"
I’d love to see simple, chain-able events. This is a proposal I’ve been kicking around. Do you think Bliss would be a good home for it?

**Chaining events**:
[code]
---
**Filtering events**:
[code]
---
**Mapping events**:
[code]
---
**Removing events**:
[code]

[code]
---
**Triggering events**:
[code]

[2015-12-12 06:16] lukeapage opened #91 "Use fetch, instead xhr request"
Nice library!

It would be in keeping with the theme of the library to use fetch instead of xhr request - https://github.com/LeaVerou/bliss/blob/gh-pages/bliss.js#L263

You may want to just tell people to use fetch and not expose your own fetch object or wrap it  and optionally return something more similiar to fetch (e.g. one annoyance I find is needing a 2nd promise on the result instead of just

[2015-12-12 09:07] kurtextrem commented on #91
Hi, Lea already answered this one: https://github.com/LeaVerou/bliss/issues/31 (first response).

[2015-12-12 09:11] kurtextrem commented on #90
First 3 seem good to me :+1: (is `until` a good expression? Would `.finally` be better?)

I think `.do` is a bit unusual, it would be better to use `.trigger` (like jQuery)

[2015-12-12 09:13] lukeapage commented on #91
ok

[2015-12-12 09:13] #91 closed

[2015-12-12 09:15] kurtextrem opened #92 "Github banner overlays header on the docs index"
http://prntscr.com/9d7xbp
Is this only me? (http://blissfuljs.com/docs.html) (Chrome v49, Dev channel)
Upon clicking some heading (e.g. Overview or Vanilla) it disappears.

[2015-12-12 13:59] guoguo12 commented on #92
Nope, same for me. Similarly, scrolling to the very bottom of the page causes the table of contents to overlap with the footer.

[2015-12-12 15:23] brushed commented on #69
We can cope with a variable number of fixed arguments by using  "foo.length" which returns the declared number of arguments, and compare it to the passed arguments.

I've used map() in case of multiple invocations,  so it's possilbe to capture the return values, if needed.

[code]

Example for use in Bliss:
[code]

Examples how this could be used / tested :

[code]

[2015-12-12 16:12] softwarespot commented on #82
@dperrymorrow, I was thinking more along the lines of conformity with such things as quotation style, white-space, named functions etc.. something JSHint isn't designed for.

[2015-12-12 17:24] jdalton commented on #49
I'll dig in to this from the Microsoft Edge team side and let ya know what I find.

[2015-12-12 18:43] dperrymorrow commented on #82
@softwarespot

See issue #37 @LeaVerou is pretty opposed to very opinionated linters.
However if you have a solution feel free to propose it. Im not married to JsHint.

[2015-12-12 19:41] dperrymorrow commented on #90
```$.fire``` and ```$.events``` seems to cover the situations you are describing.

http://blissfuljs.com/docs.html#fn-fire
http://blissfuljs.com/docs.html#fn-events

[2015-12-12 19:52] dperrymorrow commented on #69
I am finishing tests for ```$.live``` now and then i feel we have the test coverage needed to tackle this.
As long as all the tests all check for the different parameter situations like this test.

https://github.com/LeaVerou/bliss/blob/gh-pages/tests/objects/LazySpec.js#L86-L101
thanks for all the input @brushed , much appreciated.

[2015-12-12 20:33] HuzefaEzzi opened #94 "Tests for $.start"
I am working on it.

[2015-12-12 21:26] dperrymorrow commented on #94
good stuff, thanks for helping out!
few tips on tests in Bliss

- don't use other Bliss methods in your tests _(isolate the method you are testing as much as possible)_
- use HTML fixtures whenever possible vs creating DOM elements  with JS
- use spies or stubs for callback functions whenever possible

thanks

[2015-12-12 21:47] dperrymorrow commented on #94
I just updated the README.md in the tests dir to reflect these suggestions.

[2015-12-13 05:43] LeaVerou commented on #94
Thank you both!!

[2015-12-13 19:04] dperrymorrow commented on #94
closing this after merging pull request #101

[2015-12-13 19:04] #94 closed

[2015-12-13 22:03] jonathantneal commented on #90
@kurtextrem, Thanks! Yes, or even `fire` (as is brought up in the following comment). I’ll add that `until` is borrowed from RxJS. IMO, `finally` might imply that it is to be the last event to fire regardless of what it returns, whereas `until` suggests the return value might unsubscribe the chain, as in "*do this `until` this method returns truthy*”.

@dperrymorrow, `fire` certainly covers `do`,

[2015-12-14 00:55] dperrymorrow commented on #90
yes you are correct ```$.events``` does not have "chain able" events. But what i was referring to was that you could accomplish the same thing that your code demonstrates using ```$.events```.

**your example:**
[code]

**using events:**
[code]

So what i meant was you can accomplish the same thing with ```$.events``` but what you are proposing is a syntactic sugar for that functionaly IMO. Ill le

[2015-12-14 01:17] LeaVerou commented on #90
I used to have a method that let you bind events and returned a promise, which I removed before releasing Bliss, as I wasn't sure it was useful (and also wasn't sure what to do with multiple elements). Perhaps something like that would help here?
Otherwise, something like this would probably require a lot of code, for functionality that I'm not sure is as commonly needed. If we can come up with li

[2015-12-14 01:18] LeaVerou commented on #91
FWIW, you don't need to JSON.parse() if you use `responseType: 'json'`. And that's just native XHR functionality :)

[2015-12-14 08:08] lukeapage commented on #91
w.r.t. json parse I meant the fetch standard e.g. https://github.com/github/fetch#json
Ok you don't have to call json.Parse, you can use the json helper method, but it is not done automatically if the response type is 'json'

[2015-12-14 08:25] dzek69 opened #105 "$.remove fails on IE11"
Tested on full version (minified and developement), the test code is simple, does not load anything else:
[code]

And it alerts: `true,false,true`

I'm getting errors about $.remove each time I try to use `include` (Promises polyfill is loaded before).

[2015-12-14 08:37] dzek69 commented on #105
Okay, looks like Element `remove` polyfill needs to be applied before loading Bliss. The `$.include` example with es5-sham misguided me, I thought "manually" loading Promises polyfill, then loading other polyfills via Bliss would be enough to make everything work.

I don't know if something should be done about that, probably not.

[2015-12-14 08:50] fcalderan commented on #75
The test case works fine both in Chrome and Safari.

[2015-12-14 16:39] TxHawks opened #106 "Event delegation does not match ancestors"
element.matches(selector) does not match ancestors, which can often be an issue.

For instance, a very common pattern is for a button to have an icon inside it, next to a text node: ![image](https://cloud.githubusercontent.com/assets/5658514/11786217/18cbe0dc-a28e-11e5-9609-4f52ffc63f44.png)

Reasonably, one would do `$.delegate(someWrapper, click, myButton, callback)` to delegate clicks to the bu

[2015-12-14 17:29] guoguo12 commented on #106
Well, that makes sense. But couldn't you use something like

[code]

to achieve the desired behavior? I think adding the functionality you described could be confusing (and hard to fix) in cases where you _don't_ want children of the selector to trigger the event.

[2015-12-14 17:31] zdfs commented on #106
I may be wrong, but this also seems like something pointer-events solves.

[2015-12-14 17:36] guoguo12 commented on #106
@zdfs: Interesting, I didn't know about pointer-events. How would you use it to solve the problem above?

[2015-12-14 17:38] zdfs commented on #106
I believe that you could just set `pointer-events: none` on the icon and then any events on the icon would bubble up.

[2015-12-14 17:40] zdfs commented on #81
So the twitter poll ended with IRC being the favorite. Are we going to move to IRC?

[2015-12-14 17:42] guoguo12 commented on #106
Oh okay, that's neat. Any thoughts, @TxHawks? Thanks for helping out, by the way! :smiley:

[2015-12-14 17:46] brushed commented on #69
I made a few improvements to my last post.
Still a few corner-cases to be looked at.  ( chainable function or map() )

[2015-12-14 17:52] tracker1 opened #107 "Modify exports for use with commonjs/es6 modules"
It would be nice if you exported (test for module/module.exports as well as self) then exports against $, $$ so that they can be imported directly...

[code]

This way it can be used via cjs modules built via browserify/webpack or via es6 imports via babel as such.

[code]

Alternatively, if `module.exports` exists, `module.exports = Bliss` and assume "shy" mode.

[2015-12-14 18:05] praveenpuglia commented on #106
pointer-events doesn't stop the keyboard though.
https://jsfiddle.net/pgs23r8o/

[2015-12-14 18:08] praveenpuglia commented on #81
I would love to use Discord but I think signing up for another service is additional pain for people and hence they chose IRC may be!

[2015-12-14 18:36] LeaVerou commented on #107
Sure! PR?

[2015-12-14 18:38] LeaVerou commented on #69
Wouldn't it solve the `$.add()` case and improve performance if we just passed an index and a number of levels (1 by default) to the function?

[2015-12-14 18:39] LeaVerou commented on #75
Awesome, closing this then! Thanks @fcalderan!

[2015-12-14 18:39] #75 closed

[2015-12-14 18:40] zdfs commented on #88
Working on this, but for some reason, running in to a weird case where I set a boolean property like `disabled` but not `checked`. If anyone has any clues, I'd appreciate it.

[2015-12-14 18:41] LeaVerou commented on #105
`$.remove` is not a Bliss method, it's just a native method that (just like all native HTMLElement methods) is added to `$` as well (to handle arrays etc). Therefore, obviously in browsers that don't support `element.remove()` it will not be available without a polyfill. :)

[2015-12-14 18:41] #105 closed

[2015-12-14 18:42] LeaVerou commented on #105
That said, the polyfill is as easy as:
[code]

[2015-12-14 18:44] LeaVerou commented on #88
Can you share the exact failing code and more details about what happens?

[2015-12-14 18:48] zdfs commented on #88
The failing test so far:

[code]
And the output:

![screen shot 2015-12-14 at 10 47 59 am](https://cloud.githubusercontent.com/assets/619628/11790360/34ed352e-a250-11e5-9c12-a7bf04c26bbc.png)

[2015-12-14 19:08] LeaVerou commented on #106
Shouldn't the icon be in CSS (background or generated content) instead of an HTML element that receives events?
Also, if it's properly nested, click events bubble anyway, you don't need delegation (unless you need it to e.g. handle all sign in buttons on a page at once).
Anyway, support for `closest` is not a problem. It fulfills both criteria: It's both polyfill-able and supported in all modern b

[2015-12-14 19:12] LeaVerou commented on #88
Ok, I see the problem now. It's not a bug, this is just how the DOM works.
First off, you’re setting the boolean properties `checked` and `disabled` to a string. That's ok though, as they will be converted to `true` since the string is truthy. But it's pointless and misleading.
Secondly, the `checked` and `disabled` **properties** are different than the corresponding **attributes**. Try it yoursel

[2015-12-14 19:20] LeaVerou opened #108 "Polyfill bundle"
I know we recommend polyfills to people, but sometimes we're using bits that would be extremely small polyfills and people would still have to hunt them down and include them separately (e.g. see discussion in #106 about `element.closest()`). I've also heard from a non-web dev colleague that the overhead of hunting down polyfills to use Vanilla JS is just way too much for someone not too immersed

[2015-12-14 19:20] zdfs commented on #88
Interesting. I'll change the property values. Thanks for looking.

[2015-12-14 19:22] zdfs commented on #108
I think that might be a good idea. Just a cursory search for `gulp remote src` turns up some interesting results.

[2015-12-14 19:24] LeaVerou commented on #88
Note that the opposite is true: attributes do affect the properties:

[code]

[2015-12-14 19:25] TxHawks commented on #106
@guoguo12 - `$.delegate(someWrapper, "click", "#myButton, #myButton *", callback)` works, but is more verbose and requires more planing.

@LeaVerou - You may argue the merit of this, but it's definitely not uncommon to not have the icon in css, for example when using svg icon systems with `<use>`.
Re support level for `closest`, it isn't supported in anything Microsoft, including Edge.

Since it's

[2015-12-14 19:26] TxHawks commented on #108
+1

[2015-12-14 19:28] zdfs commented on #88
It's the `defaultChecked` property that I was looking for. Nice explanation on jQuery's documentation for `$.fn.prop()`.

[2015-12-14 19:45] praveenpuglia commented on #108
+1

[2015-12-14 20:15] wcastand commented on #108
Do you want something like that ?
[link](https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills)

[2015-12-14 20:30] dzek69 opened #110 "$.add method bug"
According to documentation I can use:
`$.add(name, callback [, on])`
or
`$.add(callbacks [, on])`

But after looking at the code - you will notice that first way won't work as expected. Callback will be used as `on` object (so `on` is totally ignored), `noOverwrite` will always evaluate to true if anything was passed. New method will be added, thanks to recreation of `methods` object and it will w

[2015-12-14 20:36] dzek69 opened #111 "$.fetch method won't set `search` part of URL when GET will be specified as method but not in uppercase"
[code]

well, specification says method is case sensitive, but some servers will accept method regardless of case of letters, some will reject requests

all methods used to be uppercase anyway, so it's probably good idea to always uppercase it, just to make coding easier

[2015-12-14 20:41] praveenpuglia commented on #111
I think this makes sense but Lea should be confirming this.

[2015-12-14 20:46] praveenpuglia opened #112 "Tests for $.around"

[2015-12-14 20:47] praveenpuglia commented on #112
I can write tests for this. @zdfs - can you assign this to me so two people aren't working on this one?

[2015-12-14 20:50] zdfs commented on #112
I thought there was a spec in there already?

[2015-12-14 20:50] praveenpuglia commented on #112
Did't see it in issues/PRs. Is it there?

[2015-12-14 20:51] praveenpuglia commented on #112
Oh it does! nevermind! closing this.

[2015-12-14 20:51] #112 closed

[2015-12-14 21:08] praveenpuglia commented on #111
The PR can be merged if this makes sense. @LeaVerou should make the call.

[2015-12-14 21:59] #111 closed

[2015-12-14 22:24] softwarespot opened #116 "Wrap querySelector and querySelectorAll in a try/catch block"
I didn't want to create a PR if this was out of scope for the library.

I am simply wondering would it be better to wrap querySelector and querySelectorAll in a try/catch block and return an empty array just like sizzle/jQuery does?

[2015-12-14 22:38] dperrymorrow commented on #108
would this be done manually, or using NPM dependancies and having a separate gulp task to build it?

I think this is a great idea, and could be used in conjunction with hooking up travis with the whole suite of browsers we would like to support.

[2015-12-14 23:44] zdfs commented on #116
I don't think that we want to make everything a collection. Bliss' purpose is to make using native JavaScript easier, and native JavaScript doesn't return everything as a collection. Make sense?

[2015-12-14 23:45] zdfs commented on #88
Closing this out. We're up to 123 unit tests.

[2015-12-14 23:45] #88 closed

[2015-12-14 23:56] zdfs opened #117 "Install the latest version of Chrome on Travis."
Seems related to #109. I will fork a branch and see what I can do to get this working.

[2015-12-15 00:19] dperrymorrow commented on #117
is there a way to get travis to run multiple browsers? or is that only meaningfull if we start distributing a polyfill package #108

[2015-12-15 00:28] jdalton commented on #49
@ guoguo12
I'm having trouble reproducing this in IE11 on Windows 10. Does [this page](https://output.jsbin.com/qehupuvora/1) lock up? I'm using [this older revision](https://github.com/LeaVerou/bliss/blob/5615b558378412d4968f5dc6a206207f3cb1ea80/bliss.js) of bliss.

[2015-12-15 00:29] praveenpuglia commented on #117
Well this doesn't look good! - https://twitter.com/domenic/status/502571560944021506

[2015-12-15 00:33] zdfs commented on #117
Yeah and another issue is that even if I do figure it out, it will add a substantial amount of time to the build.

[2015-12-15 00:39] guoguo12 commented on #49
Hey @jdalton, thanks for contributing! To clarify, just loading the JS file alone won't cause an infinite loop&mdash;you also have to call some Bliss method using the form `element._.methodName`.

For example, try [this one](https://jsbin.com/kifevetaba/1/edit?html,js,console,output). (Click "Run with JS".)

[2015-12-15 00:48] zdfs commented on #117
Installing a specific version of Firefox is much easier, it seems like: https://docs.travis-ci.com/user/ci-environment/#Firefox

[2015-12-15 00:48] jdalton commented on #49
Rock, it's reproducible :smile_cat:

[2015-12-15 00:51] jdalton commented on #49
I'm going to try to repro this on a plain object. If it repros there I'll pass it to @bterlson.

[2015-12-15 00:55] dperrymorrow commented on #89
Just pushed some decent test coverage for ```$.live``` https://github.com/LeaVerou/bliss/commit/5bc7653ebfb1b43421507eb6e88ef1090fc057f5

[2015-12-15 00:55] #89 closed

[2015-12-15 00:56] zdfs commented on #117
Finally found the issue of why Chromium browser is stuck on version 37: https://github.com/travis-ci/travis-ci/issues/3475

[2015-12-15 00:57] dperrymorrow commented on #69
hey all, just finished up tests for ```$.live``` i think Im at a good place to tackle this.
Ill submit a pull request soon with the initial attempt at this.

[2015-12-15 01:07] LeaVerou commented on #116
Yup. If you want everything to be a collection just use $$ exclusively and you're all set :)

[2015-12-15 01:07] #116 closed

[2015-12-15 01:28] zdfs commented on #117
I have it working, seems a little crazy for the `.travis.yml`. https://travis-ci.org/LeaVerou/bliss/jobs/96878563

[2015-12-15 01:29] zdfs commented on #117
Takes the build up to 3+ minutes.

[2015-12-15 01:30] zdfs commented on #117
There might be some steps we can take out too. I just copied from some place that seemed to have it worked out.

[2015-12-15 01:31] praveenpuglia commented on #117
I kind of did hit and trial and got Chrome 47 working. :)
https://travis-ci.org/praveenpuglia/bliss/jobs/96882573

[2015-12-15 01:36] praveenpuglia commented on #117
Let me know if what I did is correct solves the problem. If you wish I can send the PR for it. :)

[2015-12-15 01:46] zdfs commented on #117
So the only question I have from https://github.com/praveenpuglia/bliss/blob/th-test/.travis.yml is why do we need `https://github.com/praveenpuglia/bliss/blob/th-test/.travis.yml`?

Other than that, I say yeah, submit a PR for it. I'll delete my branch. Good job.

[2015-12-15 01:58] praveenpuglia commented on #117
oh you don't. I did it just to test the commit with my own travis build. let me send a PR. Thanks! :)

[2015-12-15 02:06] guoguo12 commented on #49
Awesome, thanks!

[2015-12-15 02:13] zdfs commented on #117
Sorry, I meant `- sudo apt-get install -y libappindicator1 fonts-liberation`

[2015-12-15 02:15] praveenpuglia commented on #117
Okay. When I did normal installation, it failed with error indicating those packages were chrome dependencies and could not be found.

[2015-12-15 02:30] zdfs commented on #117
Ok. Just making sure.

[2015-12-15 02:33] #117 closed

[2015-12-15 03:32] dperrymorrow opened #119 "media query breakpoint is too high for nav"
looks like the breakpoint for when the nav goes to the top (block) needs to be set larger.

![bliss js documentation 2015-12-14 19-30-34](https://cloud.githubusercontent.com/assets/64978/11801292/44e8b3ce-a299-11e5-99e7-61a16269a821.png)

[2015-12-15 04:38] zdfs commented on #92
Seems like this one can be closed for #119.

[2015-12-15 04:44] zdfs commented on #119
I can take a look at this.

[2015-12-15 04:47] guoguo12 commented on #92
I'm pretty sure those are different.

[2015-12-15 05:03] zdfs commented on #92
The behavior captured in this bug doesn't seem to apply anymore, unless you can reproduce somehow? I may be missing something.

[2015-12-15 05:07] guoguo12 commented on #92
I still see this on the live page (http://blissfuljs.com/docs.html) on Chrome/FF. (This only shows up if your browser window is wide/tall enough.)

[2015-12-15 05:08] dperrymorrow commented on #92
Yup, has to be a tall win, 900px or taller

![bliss js documentation 2015-12-14 21-07-40](https://cloud.githubusercontent.com/assets/64978/11802547/c442f118-a2a6-11e5-90d8-4512607fdb6e.png)

[2015-12-15 05:09] zdfs commented on #92
That must be my problem. I don't have that luxury at the moment.

[2015-12-15 05:10] dperrymorrow commented on #92
you could zoom out to the browser window to repro

[2015-12-15 05:12] guoguo12 commented on #92
Ah, okay. You could also use Chrome's mobile view emulator.

At a technical level, this issue is pretty simple: there are two overlapping elements. The problem is that there's no obvious better place to put the ribbon. Anyone have any ideas?

[2015-12-15 05:15] softwarespot commented on #116
@zdfs it makes sense. I just didn't know if you were trying to be a little like jQuery. But thanks for answering =)

[2015-12-15 05:17] zdfs commented on #92
When the window is that large, we could put the ribbon on the bottom right corner of the viewport?

[2015-12-15 05:20] guoguo12 commented on #92
I don't know, that seems like an unnatural place to put a ribbon.

I see two possibilities:

1. Move the table of contents down so that it's below the ribbon.
2. Get rid of the ribbon entirely. It's a distraction, and there's already the GitHub star counter in the top-right corner.

[2015-12-15 06:03] dperrymorrow commented on #92
or you could make it fixed top right.
and move the github button over with some margin.

[2015-12-15 06:04] guoguo12 commented on #92
Ooh, I like that idea.

[2015-12-15 06:16] dperrymorrow commented on #92
ill give that a go if nobody has fixed it by morning if everyone is on board with that.

[2015-12-15 06:23] dperrymorrow commented on #119
sorry to be a pain, but now the nav is going verical at a different break point that at which it goes to two columns.

![bliss js documentation 2015-12-14 22-22-22](https://cloud.githubusercontent.com/assets/64978/11803608/43121500-a2b1-11e5-9809-713122446e18.png)

[2015-12-15 06:41] lukeed opened #120 "Performance metrics?"
Read through docs & demos, looks good!

Now interested in any performance comparisons. Are there any?
Native vs Bliss vs jQuery would be ideal, imo.

Of course, native would be fastest, but the slight performance hit from Bliss vs jQuery's steep penalty would be great to see.

[2015-12-15 07:15] lukeed opened #121 "classList requires IE10"
readme states IE9+, and no mention of needing a classList polyfill

[2015-12-15 07:18] lukeed opened #122 "element.closest() not supported in IE"
yet included within docs

https://developer.mozilla.org/en-US/docs/Web/API/Element/closest

[2015-12-15 07:22] lukeed opened #123 "element.matches(), prefixing"
Included in docs as OK to use

IE9 requires `msMatchesSelector`
Opera 11 requires `oMatchesSelector`

[2015-12-15 07:24] lukeed opened #124 "element.remove() $.remove() needs polyfill"
Not supported at all in IE.
Otherwise, Safari 7, Opera 10, FF 23 and Chrome 23.

[2015-12-15 09:12] dzek69 commented on #120
I'd rather see comparsion with other libraries, cause comparing this with slow-as-hell jQuery doesn't make much sense.

[2015-12-15 09:33] lukeed commented on #120
Anything that directly proves:

1. how cumbersome jQuery is and
2. itself as a viable jQuery replacement

is worth it.

Since jQuery is (still) the most popular, it should be there. Any others are more than welcome to make the list. :+1:

[2015-12-15 09:47] dzek69 commented on #120
I didnt mean it shouldn't compare to jQuery. I meant I'd like to see it compare to other light solutions more, because every deleoper seeking an alternative already knows how jQuery behaves and how (almost) everything is faster ;)

[2015-12-15 09:48] lukeed commented on #120
@dzek69 you'd be surprised :astonished:

[2015-12-15 09:51] dzek69 commented on #124
This library is not about polyfills and making everything cross-browser.
I've already mentioned $.remove problem in #105 but I just got misguided by example of loading ES5-sham via Bliss (which has polyfill for `remove` method) - cause it will throw an error just after loading it this way with browsers that doesn't support `remove`, which makes this example weird

@LeaVerou what I think it'd be wo

[2015-12-15 10:07] lukeed commented on #124
I mention it because the repo's [readme](https://github.com/LeaVerou/bliss/blob/gh-pages/README.md) states claims specific browser version support.

And since `$.remove()` *is* mentioned within the documentation, there exists a disparity.

Either a simple polyfill (as @LeaVerou mentioned) finds its way into the library so that the browser claims hold true, or a **really noticeable** notice should

[2015-12-15 10:08] dzek69 opened #125 "Plugins catalog"
I'd be nice to have some sort of plugins catalog, so users interested would easly find useful stuff to use with Bliss. Switching from jQuery to anything-else requires rewriting a lof of stuff, cause most ready-to-use-browser-stuff-in-javascript requires jQuery to work (I'm rewriting UI in my CMS with Bliss, but I still have to load jQuery, cause of all those plugins).

And with "plugins" I don't m

[2015-12-15 10:49] StrongRef commented on #110
I will have a go at this one.

[2015-12-15 11:33] praveenpuglia commented on #122
@LeaVerou - I think we shold write about the polyfill bundle and also change the support table in readme to reflect base bliss's support.

[2015-12-15 11:45] TxHawks commented on #108
Maybe we can suggest a polyfill service like this: [https://cdn.polyfill.io/v1/docs/](https://cdn.polyfill.io/v1/docs/)?

[2015-12-15 12:41] dzek69 commented on #124
Well, technically it does work, just attaches to Bliss the methods that available to browser. The problem is that Bliss is internally using methods that may not exist on specific browsers while claiming it will work  on those, so you're right, thanks for poiting that out.

[2015-12-15 12:46] dzek69 commented on #110
how about noOverwrite? it will always be true if I run this method as:
`$.add('name', callback, {$:false}`

Also documentation doesn't say a word about `noOverwrite`, plus

[2015-12-15 13:01] wcastand commented on #81
A trello could also be useful, i start to get lost in all this issues :/

[2015-12-15 13:13] StrongRef commented on #110
You can set noOverwrite if you use the alternative signature `$.add({ name: callback }, {$:false}, false)`

If my solution isn't elegant enough, please improve it...

[2015-12-15 13:27] dzek69 commented on #110
i'd have to learn myself github usage first ;)
i'll consider this

[2015-12-15 13:43] dzek69 opened #127 "$.fetch is not well documented"
`o.sync` is not documented

[2015-12-15 13:46] voxpelli commented on #125
This feels somewhat related to @LeaVerou's earlier issue here: https://github.com/h5bp/lazyweb-requests/issues/178

That issue resulted in eg: http://youmightnotneedjqueryplugins.com/

Another vanilla-js plugin site that was mentioned there was: http://microjs.com/

For most things those sites would probably serve the purpose well. Perhaps there's a use case for some Bliss-specific things as well,

[2015-12-15 13:49] dzek69 opened #128 "$.fetch data stringification is too simple"
[code]
results in server getting weird string:
[code]
and
[code]
causes comma separated values:
[code]

jQuery results (from `$.get`, same params syntax) are as expected:
[code]
and:
[code]

[2015-12-15 14:00] praveenpuglia commented on #127
I think the `* - Any remaining properties will be set on the XMLHttpObject directly.` declaration covers that.  Otherwise bliss has to talk about the `username` and `password` options as well which is available in `open()` via vanilla JS.

This leads to to the idea - How about pointing to MDN pages on relevant/related APIs with in Bliss Docs? Like the `fetch()` method can have reference to https:/

[2015-12-15 14:09] dzek69 commented on #127
on the docs it's `async` parameter, not a `sync` parameter.

async, username, password - they're not properties of xhr object and cannot be set on xhr object (at least username/password cannot). username and password can be set on the url though

[2015-12-15 14:10] praveenpuglia commented on #127
I updated my comment above! Let me know if that makes more sense now.

[2015-12-15 14:16] dzek69 commented on #127
It makes more sense now, but as I said - you can't set username/password like that. It won't work (tested).

Also currently this method sets `o.data` on the xhr object too (also method, sync and other params we can set to set something else, not targeted for xhr object) - there is no sense in that. I don't know if this has some performance effect, but still - has no sense.

[2015-12-15 15:42] dperrymorrow commented on #108
oh, thats pretty nice...

[2015-12-15 16:16] praveenpuglia commented on #108
we can probably upgrade the polyfill section to contain some of these links and update the browser support table in readme to reflect the real support of base bliss.

[2015-12-15 17:50] dperrymorrow commented on #125
One thing i really like about bliss is that it adds functions that are as convenient as prototype extensions but yet much less intrusive by defining ```_``` on arrays and elements.

plugins / extensions to bliss could be as simple as a way to define ```_``` on other native objects.
**for example:**
[code]

then there could be a bliss extension libs organized by object type, ``String, Date, Number

[2015-12-15 17:57] dperrymorrow opened #130 "tests for $.fetch"
We need tests for ```$.fetch```, have had a few of issues reported around this method #111 #127 #128 #91 , and its difficult to begin making changes without tests in place.

a good testing strategy would be to use ```sinon.server```
https://gist.github.com/cjohansen/739589

[2015-12-15 17:59] dperrymorrow commented on #128
would you be willing to start writing some tests for ```$.fetch```?
i have an example of a testing strategy here #130

[2015-12-15 18:07] guoguo12 commented on #92
@dperrymorrow: Do you still want this one? If not, I could do it.

[2015-12-15 18:15] guoguo12 opened #131 "Smallest clouds in docs header have outlines on FF"
Anyone else seeing this?

![temp](https://cloud.githubusercontent.com/assets/1940729/11819427/963e8354-a314-11e5-89e0-fdf39bb817c1.png)

I'm using Firefox Developer Edition 44.0a2 on Windows 8.1.

[2015-12-15 18:30] dperrymorrow commented on #92
go for it, I'm pretty busy today actually

[2015-12-15 18:44] LeaVerou commented on #119
Gah. This width and height MQ combination ended up being such a PITA :(
Thanks for looking into it @zdfs!

[2015-12-15 18:46] LeaVerou commented on #81
I've seen many open source projects use Slack recently. E.g. look at https://github.com/nylas/N1
People can just click on the slack button and join, no invitation necessary. Perhaps we shouldn't be quick to give up on slack?

[2015-12-15 18:47] LeaVerou commented on #92
Part of the problem here is that these should never touch, the media query is wrong. See #119

[2015-12-15 18:49] LeaVerou commented on #108
That’s awesome, nice find @TxHawks!! Yes, we should totally include isntructions about how to use this service instead of a polyfill bundle or list of polyfills!

[2015-12-15 18:49] zdfs commented on #81
I'm happy to help set something up for Slack. I just figured that was something we ruled out. There were some nice sign up options that we could try.

[2015-12-15 18:54] zdfs commented on #81
I.E. This: https://github.com/rauchg/slackin

We'll need to have a subdomain that we can point to, I think? A free-tier heroku server should suffice.

[2015-12-15 18:55] dperrymorrow commented on #81
or also there is https://gitter.im/ its sort of a totally open slack.

[2015-12-15 18:57] zdfs commented on #81
Yeah. I'm open to Gitter too. I think Slack has the brand recognition and a lot of people already use it at work. I'm open to whatever, but I'd like to decide on something and move forward, if we can.

[2015-12-15 18:57] guoguo12 commented on #92
Oh, so should the "Contents" heading be under the ribbon?

[2015-12-15 18:57] zdfs commented on #131
I don't see it. Probably a bug in the Developer version?

[2015-12-15 19:07] LeaVerou commented on #110
This bug will likely be solved automatically once #69 is addressed (which is yet another reason to do this asap)

[2015-12-15 19:09] LeaVerou commented on #121
#108 will solve this too. :)

[2015-12-15 19:09] #121 closed

[2015-12-15 19:09] LeaVerou commented on #122
Another thing that will be solved by #108

[2015-12-15 19:09] #122 closed

[2015-12-15 19:10] LeaVerou commented on #123
See #108

[2015-12-15 19:10] #123 closed

[2015-12-15 19:11] LeaVerou commented on #124
The browser support table implies use of polyfills. Will be made much more clear with #108 as well.

[2015-12-15 19:11] #124 closed

[2015-12-15 19:12] guoguo12 commented on #131
Weird, okay.

[2015-12-15 19:12] LeaVerou commented on #125
That’s a great idea @dperrymorrow! Love it!!

[2015-12-15 19:15] lukeed commented on #121
:ok_hand:

[2015-12-15 19:30] jbmonroe commented on #108
Not a polyfill, but a ponyfill (see Ponyfoo.com):

    var from = Array.from || Array.prototype.slice;

Then

    // In the future, we should use Array.from() instead of Array.prototype.slice.call() -- solved!
    return from.call(typeof expr == "string"? (context || document).querySelectorAll(expr) : expr || []);

[2015-12-15 19:30] #108 closed

[2015-12-15 19:34] dzek69 commented on #128
sad to say, but i've never do any tests and xhr tests sounds like more trouble than to test a simple function :(

[2015-12-15 19:34] StrongRef commented on #110
Ok, I'll close my PR!

[2015-12-15 19:34] jbmonroe opened #132 "Alias document.createElement for performance"
var ce = document.createElement.bind(document);

Then

    return $.set(ce(tag || "div"), o);

Speeds download time and scope-walking time, at the cost of a small loss in code clarity.

[2015-12-15 19:36] lukeed commented on #108
Glad this convo is in the works.

The polyfill service **does** *sound* great, especially since you can specify `?features=[]`, but that'll leave it up the user to define this array, when it's Bliss that (currently) needs x,y,z polyfills.

Supplying our own poly/pony fills allows us to target specific minimum support, and we know what we'll need & when to drop them.

Also, at the end of the day, t

[2015-12-15 19:36] LeaVerou commented on #108
@jbmonroe this is against Bliss’ philosophy. No polyfills in Bliss core code. Polyfills should be separate and Bliss should just use that native APIs. This is the philosophy of the project and it's not going to change.

That said, now that we recommend polyfill.io, we can use Array.from() just fine. I love this service!!

[2015-12-15 19:39] LeaVerou commented on #127
The `sync` parameter should probably not exist at all today, as synchronous requests are deprecated in most browsers. That's why I haven't documented it. As to why it's there, probably because the first version of this helper was written years ago and I never considered removing it. Perhaps I should.
Also, please include more specific bug report titles?

[2015-12-15 19:39] #127 closed

[2015-12-15 19:45] lukeed commented on #108
@LeaVerou hmm.. i guess i have trouble thinking of Bliss as just a native wrapper & not meant as a total code base/foundation and/or jquery replacement for the masses

[2015-12-15 19:46] zdfs commented on #119
I submitted some changes to match the breakpoints up (sorry I missed that). Do we need anything else for now?

[2015-12-15 19:54] zdfs opened #133 "Builds are failing when trying to install Google Chrome."
Seems to be a recent development:

![screen shot 2015-12-15 at 11 53 47 am](https://cloud.githubusercontent.com/assets/619628/11822262/9b102776-a322-11e5-89a4-b85366d4690b.png)

[2015-12-15 20:00] LeaVerou commented on #128
Yeah, currently it does very simple serialization, it's not intended for nested objects. Is this useful? If so, I can look into adding it.
While I'm at it, perhaps we need to remove the serialization code from `$.fetch()` and have a separate helper to serialize objects in custom ways. Need to make sure this won't add more bloat than it's worth though.
Thoughts, everyone?

[2015-12-15 20:14] LeaVerou commented on #81
Gitter looks really cool! I’ve created a test room, let's try it out for a bit? https://gitter.im/LeaVerou/bliss

[2015-12-15 20:14] zdfs commented on #133
Maybe we need to enable more repos? http://askubuntu.com/questions/378558/unable-to-locate-package-while-trying-to-install-packages-by-apt

[2015-12-15 20:20] LeaVerou commented on #131
Cannot reproduce either. I do remember this being an issue in the past though, because I was depending on premultiplied RGBA interpolation which Firefox doesn't have. Could it be that your cache is very aggressive or something and still has the old version?

[2015-12-15 20:20] #131 closed

[2015-12-15 20:21] LeaVerou commented on #132
In this project, code clarity >> premature optimization. Sorry! Hope this doesn’t discourage you from future contributions :)

[2015-12-15 20:21] #132 closed

[2015-12-15 20:22] LeaVerou commented on #133
Is this why Travis started failing after I pushed a change to …the website?

[2015-12-15 20:22] dzek69 commented on #128
For me it's extremely useful. Imagine something simple as:
[code]

Then I select two items, for server side code it would be totally weird not to receive an array here, but comma separated values. What if I want to have comma separated value in my select?

If simple example doesn't convince you:

Imagine a web application where I'd like to create an invoice. Well, I have one, and while I'm rewritt

[2015-12-15 20:42] LeaVerou commented on #92
Yup. They should never overlap. Them overlapping is a bug in the media queries. It should have become 2 columns with that height and if that doesn't fit either, then position:static and in line with the rest of the content (which is what happens in smaller screens). Therefore, closing this as a duplicate of #119.

[2015-12-15 20:42] #92 closed

[2015-12-15 20:51] LeaVerou commented on #116
Not really. If something in jQ is a good idea and needed commonly enough we might consider it, but similarity for the sake of similarity is not a design goal. :)

[2015-12-15 20:53] guoguo12 commented on #131
AFAIK, it's not caching. Must be something with Firefox Developer.

[2015-12-15 20:54] LeaVerou commented on #108
If you want to use Bliss that way, just include polyfill.io as well and you're all set. :)
There is so much good polyfill code around, it's pointless to be inventing our own polyfills and burying them in Bliss code. It increases maintenance work & bloat, and decreases code quality & readability.

[2015-12-15 20:56] guoguo12 commented on #106
Closing this out (#109 merged).

[2015-12-15 20:56] #106 closed

[2015-12-15 20:56] LeaVerou commented on #131
Looks like you were right, that one was still using `transparent`. Does it work now?

[2015-12-15 20:59] guoguo12 commented on #131
Yep, that fixed it. Thanks for looking into it!

[2015-12-15 21:20] StrongRef commented on #130
I created a simple template for testing `$.fetch`.

For now it's just echoing the request data back to the client. However, we have to discuss whether #128 is still a valid bug though. Should we improve the way data is stringified?

[2015-12-15 21:29] StrongRef commented on #128
It would be nice to move the serialization part away from `fetch`.
Since different projects have different requirements, perhaps built-in support for a simple, straightforward serialization but with the possibility to add your own implementation.

[2015-12-15 21:32] zdfs commented on #133
Looks like we needed `sudo apt-get update` in our `.travis.yml`. Builds seem to be succeeding now. Closing out.

[2015-12-15 21:32] #133 closed

[2015-12-15 22:27] zdfs commented on #81
I think Gitter is working out nicely.

[2015-12-15 22:29] LeaVerou commented on #81
Agreed. Closing this for now, if gitter doesn't work out for whatever reason, we can always reopen. But I’m pretty psyched about gitter right now! Thanks for suggesting it @dperrymorrow!

[2015-12-15 22:29] #81 closed

[2015-12-15 23:25] dperrymorrow commented on #130
great thanks for helping. much appreciated.

[2015-12-15 23:39] LeaVerou opened #137 "Hook system, to make Bliss way more extensible"
I’m thinking of adding a lightweight hooks system just like the one in [Prism](https://github.com/PrismJS/prism/blob/gh-pages/prism.js), and which has been very successful so far.

**How it works:** Hooks are tied to identifiers and the system has two methods: `$.hooks.run(id, env)` and `$.hooks.add(id, callback)`. The former executes any code tied to a specific hook, passing the environment to th

[2015-12-16 00:31] jdalton commented on #49
I've narrowed it down to the `EventTarget.prototype` wrapping. If I exclude that I no longer get the circular issue. I'll keep digging.

[2015-12-16 00:43] LeaVerou commented on #49
Thanks for looking into this @jdalton! We’re honoured to have you around :)

[2015-12-16 00:52] dperrymorrow commented on #110
@StrongRef I'm working on #69 now, if anybody wants to work on tests for ```$.add``` that would be super!

[2015-12-16 00:59] zdfs commented on #137
:+1:

[2015-12-16 01:00] LeaVerou commented on #137
Added via c8ede04061cf16a13a10cd7d5d149fd49ad46602 !

[2015-12-16 01:01] StrongRef commented on #110
@dperrymorrow I'll have a go at it again tomorrow!
Trying to clean up `$.fetch` tests right now.

[2015-12-16 01:01] LeaVerou commented on #128
Now that we have hooks (see c8ede04061cf16a13a10cd7d5d149fd49ad46602 ), I’m thinking about removing the object functionality altogether and just adding a hook there so that people can handle `o.data` in any custom way they want.
This way, we could have a plugin that do what the OP wants, and keep Bliss lean :) Thoughts?

[2015-12-16 01:03] dperrymorrow commented on #69
working on this now,
possible function names

- loopArgs
- unfoldArgs
- eachArgs
- ?

[2015-12-16 01:16] #137 closed

[2015-12-16 01:20] dperrymorrow commented on #110
awesome, thanks so much...

[2015-12-16 01:50] StrongRef commented on #130
Ugh, I will create a new PR with tests for fetch soon.
I somehow managed to do a bad merge i think...

[2015-12-16 02:47] praveenpuglia commented on #128
Sounds great to me! We don't wanna be gigantic-we-do-it-all library. :)

[2015-12-16 04:12] dperrymorrow commented on #128
polyfills and user customization for the win, this ain't JQuery

[2015-12-16 04:29] StrongRef commented on #110
@dperrymorrow Let me know if the tests aren't thorough enough!

[2015-12-16 04:37] LeaVerou opened #139 "Requests for new hooks"
Please mention:

- Line of code where it should be added
- Proposed name
- Use cases

[2015-12-16 04:38] LeaVerou commented on #130
Argh. On it, thanks for spotting!

[2015-12-16 04:42] LeaVerou commented on #69
condensedArgs? overload?

I kinda like overload, though it's overly generic. Doubt we'll ever add anything for more overloading though.

[2015-12-16 04:46] LeaVerou commented on #125
In general, we should have a list of “official” plugins, like we do in [Prism](http://prismjs.com/plugins/). These end up getting more contributions from the community so are more polished than random plugins people post on their website or StackOverflow.
However, that means adding at least one more page to the website, so I do need to figure out some templating solution. Maybe I'll extend transfo

[2015-12-16 04:52] LeaVerou commented on #128
Awesome. I’ve done that in 1f2233a1f15de3d4bbfe121bc3b678564597c6c7. @dzek69 now you can publish a plugin that does this very thing! (soon we'll have an official plugin catalog too, see #125

[2015-12-16 04:54] #128 closed

[2015-12-16 05:37] dperrymorrow commented on #69
cool, I have live working _(with tests passing)_ with the helper method, the implementation looks like this.

[code]
and the helper method looks like thus so far, pretty simple, but may have to add a bit more when i get to some of the more complicated methods.

[code]

[2015-12-16 06:44] LeaVerou commented on #69
Looks nice so far!!

[2015-12-16 06:45] LeaVerou commented on #69
although, I think this would fail in cases like `$.add()` where the collapsible arguments are not last.

[2015-12-16 18:20] dperrymorrow commented on #69
yeah ill have to sort something out for that to be more flexible.
Ill burn that bridge when i get to it as they say...

[2015-12-16 21:03] LeaVerou commented on #69
A more flexible check (e.g. is the first argument a string or an object?) would do, I think.

[2015-12-16 21:04] LeaVerou commented on #69
Also, I was thinking of something that would wrap the function we passed to it. That way, there's no need to pass argument objects around.

[2015-12-16 21:52] jdalton commented on #49
Thanks @LeaVerou!

Ok I've managed to create a [simple repro](https://output.jsbin.com/pivose/1/) and filed a bug with the Edge DOM folks.

So this plain JS example works.
[code]

However, when we have the same scenario with DOM things get weird. The setup is like the plain JS one except that instead of `Bar` we have `EventTarget` which `Node` inherits from.

[code]

Interestingly replacing `docum

[2015-12-16 22:08] brushed commented on #69
One more iteration of the unfoldArg() helper function; now also allowing a different position of the foldable argument.

unfoldArg() generates a wrapper function, unfolding any Object argument into key-value pairs.  By default the argument to be unfolded is the last argument, you can give a position parameter to overwrite the default.  Depending on the signature of the main function, multiple leve

[2015-12-16 22:37] dperrymorrow commented on #69
sure thing, ill wrap it,
I now have tests passing on ```$.lazy```, ```$.live```, and ```$.set```

@brushed thanks

[2015-12-16 22:57] LeaVerou commented on #69
@brushed I like how this does everything automatically, but:

1. We don't want to unfold **any** object argument. There are tons of functions that accept objects as arguments with various options, and we don't want those unfolded.
2. To manage to do everything automatically, it ends up requiring much more code than @dperrymorrow’s solution and the recursiveness, while elegant, also makes it confus

[2015-12-16 23:10] brushed commented on #69
unfoldArg(..) does not unfold *any* object argument, only the one indexed with the 'pos' argument, or, default, the last argument.
While you could add a depth parameter (default 1) this can easily deduced from the argument list of foo; comparing it to the actual passed argument.

[2015-12-16 23:16] brushed commented on #69
The complexity really comes from the fact we'd like to support multiple depths.  If we'd limit that  (practically probably only 2 levels would ever be used)  we could avoid the recursion and still keep an elegant solution.

[2015-12-16 23:52] LeaVerou commented on #69
Sorry for missing `pos`, I didn't have time to understand the code in detail, I just skimmed over it.
I’m a bit skeptical about automatically determining the number of levels. Just because the values are objects does not necessarily mean they should be unfolded, and there is currently no way to protect against that. Using the argument list of foo is also a bit flimsy: What if foo has other optiona

[2015-12-17 00:13] dperrymorrow opened #145 "scope parameter for $.each"
would be helpful if you could pass in the scope for the each function

[code]

[2015-12-17 00:41] LeaVerou commented on #145
I'd rather avoid patterns that are only needed because certain features are not yet well supported enough. In this case, arrow functions. Is there any use case of this that arrow functions wouldn't solve?
(and even if there is, it's just a matter of `.bind(this)`, which is only 5 more characters than having it as an argument.

[2015-12-17 01:12] dperrymorrow commented on #145
fair enough, i just thought of this when i noticed this bit in bliss

[code]

any reason you didn't use ```.bind(this)```
polyfills to support bind seem aligned with Bliss

[2015-12-17 01:12] #145 closed

[2015-12-17 03:37] LeaVerou commented on #145
No particular reason, feel free to PR it :)

I can’t wait to be able to use arrow functions in Bliss. So many times I’ve pondered using a transpiler…

[2015-12-17 04:58] dperrymorrow commented on #145
yeah I have played around with Babel, but i kind of don't like pre-compiling js.

[2015-12-17 05:04] LeaVerou commented on #145
I wish there was a transpiler that made the minimal amount of changes needed, e.g. maintained your formatting and everything so that you decide how different you want the two files to be depending on how many ES6 features you use.

[2015-12-17 05:34] vlazar commented on #145
FYI since Babel 6 you turn on features you need from ES6. There is also a es2015 preset to transpile all the ES6 features.

Is there any reason to try to save formatting for transpired code?

You can think of it more like an executable code, similar to minified. There are source maps to see original nicely formatted code.

[2015-12-17 05:42] brushed commented on #69
Just to be clear, the number of levels is detected based on the number of arguments in the signature of foo versus the number of arguments passed when calling the wrapped function.

But indeed this means that optional arguments (eg such as in $.add()) are not ok.

[2015-12-17 07:07] LeaVerou commented on #145
Preserving my code as much as possible means I can go back to it if I ever decide to, so it makes me feel less uncomfortable.

[2015-12-17 07:51] vlazar commented on #145
I meant *transpiled of course, will never forget this word now :)

[2015-12-17 13:42] kurtextrem commented on #120
@dzek69's idea is good. Potential candidates: https://github.com/bendc/sprint, DOMtastic ....

[2015-12-17 14:53] praveenpuglia commented on #120
Ok. is this right or I missed something?
http://jsperf.com/bliss-vs-iquery/2

[2015-12-17 15:04] kurtextrem commented on #120
http://jsperf.com/bliss-vs-iquery/3
but it seems broken lol, how should jQuery be faster than native?

[2015-12-17 15:04] dzek69 commented on #120
Looks like jQuery is doing some optimizations (and uses getElementsByClassName with such simple selector instead of querySelector which is faster)

[2015-12-17 15:04] praveenpuglia commented on #120
that's the thing! I have no idea! :o:

[2015-12-17 15:06] dzek69 commented on #120
jQuery perf impact should be the worst on complicated selectors like `#id .class[data-something]:not(.class)` - in modern browsers it will use querySelector too, but jQuery wrapper is rather heavy.

[2015-12-17 15:08] praveenpuglia commented on #120
That's why I included vanilla `querySelectorAll` in the test too and look at the results! :O

[2015-12-17 15:17] dzek69 commented on #120
https://jsperf.com/bliss-vs-iquery/4 here, this is the most efficient way to select elements by class. the difference is H-U-G-E

[2015-12-17 15:20] praveenpuglia commented on #120
How is Bliss slow here? so slower than jQuery? Is this fishy?

[2015-12-17 15:27] kurtextrem commented on #120
@dzek69: Ah, thanks. My bad.

Well, Bliss is "so slow", because querySelectorAll is slow. jQuery is faster, as it selects the most efficient way to retrieve the DOM elem (but does a lot of other stuff - compare jQuery with Sprint and you'll see what I mean).

[2015-12-17 18:41] dperrymorrow commented on #130
$.fetch tests have been merged in no? closing this.

[2015-12-17 18:41] #130 closed

[2015-12-17 18:56] StrongRef commented on #120
I don't get the same results using Benchmark.js locally...
I'm creating a simple performance-runner right now, where you can insert test-cases (one implementation for Bliss and one for jQuery).

[code]

[2015-12-17 19:32] lukeed commented on #120
@StrongRef you have to use Bliss's `$$` selector because jQuery searches for all instances of by default. `Bliss()` is a wrapper of `querySelector()`, which stops at/looks for first match.

I threw in some extra DOM selection methods to the running jsPerf file.

Also, upgraded jQuery to 2.1.4 because that version matches Bliss's minimum browser support -- equal playing field.

http://jsperf.com/bl

[2015-12-17 19:33] lukeed commented on #120
@dzek69 :clap::+1: thanks for pointing that out. totally forgot about it! Will need to remember to use that method more in my own work

[2015-12-17 19:34] LeaVerou commented on #120
Are we back to Slickspeed? Ah, the memories.
The question is not only what is faster, but whether the difference is noticeable in any reasonable use case. E.g. caching array length in a for loop is also faster than getting `arr.length` every time, but these micro-optimizations are unncessary for 99+% of use cases.
That said, perhaps we should add hooks inside $/$$ so that people can create plugins

[2015-12-17 19:36] LeaVerou commented on #69
Exactly. Like I said, I love heuristics too, but good heuristics fulfill two conditions:

1. The number of use cases where they fail is tiny
2. Opt-out is possible for those use cases.

[2015-12-17 19:40] StrongRef commented on #120
@lukeed I updated my post with more tests.
But why do we have to use Bliss.$?
I can't seem to find a way for jquery to perform well in those cases. There is probably a way though.

[code]

Anyway, I was just curious about the performance because I though jQuery was performing way better but that doesn't seem to be the case.

[2015-12-17 19:41] lukeed commented on #120
Agree with @LeaVerou's last sentence

[2015-12-17 19:45] zdfs commented on #120
@lukeed - Do we want to keep this open? Not sure what the action item is at this point.

[2015-12-17 19:45] lukeed commented on #120
@zdfs nah, turning into more of a StackOverflow thread type

[2015-12-17 19:54] zdfs commented on #120
Awesome. Closing.

[2015-12-17 19:54] #120 closed

[2015-12-17 22:40] LeaVerou opened #147 "Hooks for everyone!"
I just had an idea I’m very happy about.
Instead of having one hooks object just for ourselves, having a hooks **class** that our users can instantiate, to make their own libraries extensible too! Then `$.hooks` will just be one instance of that object!

[code]

It shouldn't add much to the codebase, and AFAIK it's functionality that no other library has!
/me is excited

[2015-12-17 22:46] dperrymorrow commented on #147
yay, sounds pretty interesting.

[2015-12-18 06:19] LeaVerou commented on #147
Done! Still needs docs though.

[2015-12-18 06:19] #147 closed

[2015-12-19 13:15] HuzefaEzzi opened #152 "Tests for $.value"
I am working on it.

[2015-12-20 10:42] StrongRef commented on #110
This one is resolved, right?

[2015-12-23 07:35] HuzefaEzzi commented on #152
closing this after merging pull request #153

[2015-12-23 07:35] #152 closed

[2015-12-23 08:21] LeaVerou commented on #152
Thank you so much @HuzefaEzzi!!

[2015-12-23 10:14] HuzefaEzzi commented on #152
No problem at all @LeaVerou.

[2015-12-24 14:53] #87 closed

[2015-12-24 14:54] LeaVerou commented on #73
Apart from the `$.create()` issue, is the actual bug reported here still valid? If not, we should close this.

[2015-12-24 14:55] LeaVerou commented on #90
I think what @jonathantneal is suggesting has merit as a separate library, but is overkill for Bliss. Therefore, I’m closing this.

[2015-12-24 14:55] #90 closed

[2015-12-24 14:56] LeaVerou commented on #119
Guess not :) Thanks @zdfs!

[2015-12-24 14:56] #119 closed

[2015-12-24 14:58] LeaVerou commented on #69
Since we now have `$.overload()`, I’m closing this.
We do need docs for it though...

[2015-12-24 14:58] #69 closed

[2015-12-24 14:59] LeaVerou commented on #110
This should be fixed after merging #148 . Feel free to reopen if not!

[2015-12-24 14:59] #110 closed

[2015-12-24 18:19] oriSomething commented on #107
i think, that actually rollup might be a better tool for packaging it:
- because the compact syntax would be cleaner, more compact and much closer to the current source
- browserify / webpack tends to leave fingerprints because the way it work

[2016-01-02 16:55] renoirb commented on #107
It depends how and where Bliss will run. Only in a browser with an anonymous `<script src="bliss.js"></script>` or elsewhere like we do in Backbone/Require.js, or as a `document` "free" DOM manipulator (i.e. outside of the global `document` scope we get in a browser), or even in Node.js.

My concern is not how we load it, because we can always use `require.config({shim:{}});` or similar, but more

[2016-01-02 17:02] renoirb opened #154 "Tests for Bliss.shy"
How should we test Bliss in `shy` mode?

A few questions came up to mind when I started looking how we test shy mode.

* Should we review how Bliss init itself?
* Should we allow multiple instances and tell which `document` to init onto?
* Where should it run?

## Expexted outcome

Test all `shy` mode features and ensure it behaves as documented.

[2016-01-04 18:13] vlazar commented on #154
When I needed to test something similar on another project, I created 2 separate Karma configs. But then I lost ability to run Karma tests in continuous mode. So I didn't like that solution.

Then of course [Require.js can be used with Karma](http://karma-runner.github.io/0.13/plus/requirejs.html) too.

I feel this is a somewhat related [feature opened on Karma](https://github.com/karma-runner/kar

[2016-01-05 18:16] LeaVerou commented on #154
This is a serious problem that we do need to solve somehow. Another serious problem is testing in various browsers, to make sure that we're not depending on some kind of browser bug. No suggestions at the moment, about either of these issues :(

[2016-01-05 18:54] vlazar commented on #154
The Browserstack and SauceLabs were mentioned in #82 to help with testing in various browsers.

[2016-01-05 19:37] renoirb commented on #154
I guess I've been "lucky" to pick the hardest featureset to write tests for for my first contribution.

This may sound obvious but I'll ask anyway. Is there a in-browser test runner that we could use with the same tests?  With that, we could continue develop features and test them while other works on making it a module.

[2016-01-05 20:04] LeaVerou commented on #154
I wish. We've discussed this in #71 and #82 but without much avail.

[2016-01-06 03:07] renoirb commented on #154
There's [Jasmine](http://jasmine.github.io/2.4/introduction.html). But the syntax isn't the same :(

[2016-01-06 05:41] vlazar commented on #154
@renoirb I'm not quite sure what do you mean by this. Karma already runs tests in Chrome. It doesn't matter whether it's mocha or Jasmine tests.

Do you mean using the same set of tests for in-browser and in-node tests? But then why would Bliss need to be tested in node?

The discussion in #71 about having HTML reporter to see results and re-run tests in browser is weird. Why not use console? Ther

[2016-01-06 17:52] dperrymorrow commented on #154
the tests are actually written in Mocha, #1 Jasmine in the NPM dependancies is just leftover. I can prune that, or anyone can pull request that cleanup.

I think that running in the console for development is ideal, and then having integration with something like SauceLabs for testing cross browser on commit like we are currently doing with Travis would be best.

To run all the browsers locally wo

[2016-01-07 20:10] jonathantneal opened #155 "show / hide functionality"
Would it be helpful to have `.show()` / `.hide()` mapped to `removeAttribute('hidden')` and `setAttribute('hidden', '')`?

[2016-01-07 23:42] zdfs commented on #155
I think both `$.style()` and `$.transition()` solves this problem, as well as just adding/removing classes you might have in your CSS. But that's just my personal opinion.

[2016-01-08 14:06] praveenpuglia commented on #155
I think the primary idea of bliss is that it makes it relatively easier to work with vanilla JS by creating wrappers for important things. Things that do a lot more than what `.show()`/`.hide()` would do. Also, creating them would encourage other developers to ask for more micro helpers which I think goes out of scope of this library.

[2016-01-09 14:12] LeaVerou commented on #154
Agree @dperrymorrow!

[2016-01-10 21:33] dzek69 opened #156 "Unbind events/delegations"
Documentation doesn't say a word about that. Ability to handle events as easy as in jQuery would be nice.

[2016-01-11 01:20] renoirb commented on #154
Thanks for the clarification @dperrymorrow, I wasn't sure if it was needed or not.

I was confused on how Mocha runs tests @vlazar but now I get it, it runs in browsers you connect the websocket servers to. This is new stuff for me. But it all makes sense now.

[2016-01-13 13:48] LeaVerou commented on #156
Bliss does store listeners, so that would be pretty easy to implement.
Could you provide any examples of the API you would find convenient? Trying to see what exactly you're missing.
If you just want to unbind a specific event, you can always use `removeEventListener` so I assume it's mass unbinding that you're missing, right?

[2016-01-13 14:00] LeaVerou commented on #155
Agree with the above, but just to mention that if you really want the convenience of show/hide methods, you can trivially implement them yourself:

[code]

[2016-01-13 14:00] #155 closed

[2016-01-13 19:40] dzek69 commented on #156
Unbinding events requires to pass handler function, so it's not very convinient to bind with anonymous function as I cannot unbind such events without getting inside Bliss listeners storage.

I haven't thought about any specific API call example - I just need a way to do that.

A jQuery-like mechanism with ability to "name" or "group" events by "class name" and unbind events with that class name w

[2016-01-15 08:31] spheroid- commented on #39
This bug can be reproduced in Chrome by using Underscore and Bliss together and attempting to call window.addEventListener() like in http://codepen.io/anon/pen/PZJPpG.

It looks like the Bliss property '_' clashes with window._ so as an workaround I've changed the property to '__' and everything is fine now.

For some reason this bug does not reproduce on Safari, just Chrome.

[2016-01-22 20:49] franciscop commented on #154
For the cross-browser testing, I am currently testing [Umbrella JS](http://umbrellajs.com/) (which is really similar to Bliss) in the following way:

- Grunt: a `grunt watch` compiles everything and tests it with Phantom JS (webkit)
- Circle CI: in a similar way to grunt
- Website: The website [umbrellajs.com/tests](http://umbrellajs.com/tests) has the same tests as grunt but they run in the brows

[2016-01-23 14:59] JacquesMarais opened #157 "Add a wiki"
What about a wiki to explain what Bliss is all about?

[2016-01-23 15:46] renoirb commented on #157
Did you see [blissfuljs.com](http://blissfuljs.com/)?  Maybe we should put this URL as the project site on the repository.

[2016-01-23 17:51] LeaVerou commented on #157
Yup.

[2016-01-29 16:35] JacquesMarais commented on #157
Oh thank you.

[2016-01-31 19:26] TxHawks opened #160 "More regular releases"
I think there is a need for a better release cycle. NPM and Bower are very common ways in which people consume front end modules, but someone installing Bliss with one of these tools would now get code that is 126 commits behind the current code base.

I'm not saying that every merged commit should trigger a release, but several of those 126 are bug fixes and some (like hooks), are pretty major fe

[2016-02-01 16:21] LeaVerou commented on #160
Ouch. I will try to make a release today. Thanks for noticing!

[2016-02-01 19:18] LeaVerou commented on #160
Done!
In retrospect, it should probably have been 1.1.0 instead of 1.0.1 but oh well.

[2016-02-01 19:18] #160 closed

[2016-02-01 19:51] TxHawks commented on #160
Thanks!

Maybe a milestones-based workflow should be established?

That way, it's easy to know when all issues associated with a certain
release are resolved, and when it is safe to release

On Mon, Feb 1, 2016, 18:21 Lea Verou <notifications@github.com> wrote:

[2016-02-01 22:10] ericperez opened #161 "Function to Serialize JS objects in Query String Parameters"
This is in reference to this line in the code:
`o.data = Object.keys(o.data).map(function(key){ return key + "=" + encodeURIComponent(o.data[key]); }).join("&");
`

I just noticed that there is a very helpful utility function nested in 'fetch' that is not testable and not reusable even though it has pretty generic functionality (serializing objects into Query String params.)

Thoughts on moving th

[2016-02-01 22:24] LeaVerou commented on #161
Heh, I've tried to do this so many times. One of them resulted in #136 . All of them however end up not being generic enough, or too big and add bloat that I'm not sure is worth it (to keep Bliss small, we need to exercise a lot of restraint).
You're welcome to try to adapt my PR or come up with your own solution! No promises it will get merged though, even mine didn't :P

[2016-02-02 17:03] ericperez commented on #161
Thanks for the heads up. I did not see that issue. I think at the minimum just taking the existing functionality and moving it to a place where it's testable and fixing the bug I mentioned above would be an improvement without trying to add new functionality.

[2016-02-02 17:45] voxpelli commented on #161
I guess Lea already knows this, but in relation to this issue it can be interesting to note anyway:

The URL standard, https://url.spec.whatwg.org/, actually has a Query String builder in the form of `URLSearchParams` (see [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams)) that while it doesn't provide a plain object to `URLSearchParams` converter can be used to set key/

[2016-02-02 19:30] LeaVerou commented on #156
This is definitely useful functionality that I'm interested in implementing.

[2016-02-03 13:30] TxHawks opened #162 "Should `fire` return the results of `dispatchEvent`?"
A [change](https://github.com/LeaVerou/awesomplete/pull/16827) was recently introduced to the `$.fire` helper in [awesomeplete ](https://github.com/LeaVerou/awesomplete/), that returns the value of `this.dispatchEvent()`.

This is pretty useful, and I think it should also be introduced into Bliss's method.

[2016-02-04 00:01] LeaVerou commented on #161
I've looked into URLSearchParams, no idea why I decided against using them there.
Support is not an issue, as we suggest using bliss along with polyfill.io.
I should look at them again.

[2016-02-05 03:03] LeaVerou commented on #162
What does dispatchEvent return? I thought it returns the element.

[2016-02-05 03:20] LeaVerou commented on #160
That works well when there are tons of things to do and you need to prioritize. Here there aren't really that many open issues.

[2016-02-05 05:47] TxHawks commented on #162
From [MDN](
https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent):

handled this event called `Event.perventDefault()`. Otherwise it
returns true.

On Fri, Feb 5, 2016, 05:03 Lea Verou <notifications@github.com> wrote:

[2016-02-05 06:08] TxHawks commented on #160
True, but it also just helps with knowing when is a good time to release,
and if it should be a major/minor/patch release.

It's also a good way to not merge breaking changes that you do want to
include at some point right away, But have them conveniently organized as
to not forget about them.

It also gives contributors a sense of when will their code can be expected
to merge, and can make NPM re

[2016-02-05 06:17] LeaVerou commented on #162
Oh yes, this sounds useful! How did I not know about this? Yes, we should totally add this to Bliss! PR?

[2016-02-05 06:19] TxHawks commented on #162
Will do

[2016-02-05 18:51] #157 closed

[2016-02-05 18:55] LeaVerou commented on #160
There is currently 1 open pull request and 8 open issues, most of which are enhancements that are often not even about Bliss' code (e.g. Plugin catalog). I really don't think this kind of issue load warrants a milestone-based workflow. There simply aren't enough issues. A workflow like that would work great on bigger projects like Prism, with dozens of issues and open PRs. This currently doesn't h

[2016-02-05 21:13] #162 closed

[2016-02-07 19:08] LeaVerou opened #164 "Polyfill only the things we need"
Hi all,

[I talked to the polyfill.io guys](https://github.com/Financial-Times/polyfill-service/issues/594) to add a `blissfuljs` alias to their service, so we can tell people to request polyfill.io with `?features=blissfuljs` instead of the `features=all` we currently recommend, which is super wasteful. Can anyone help me compile a list of features we need here?

[2016-02-07 19:16] LeaVerou commented on #164
I’ll start:
[code]

Did I forget anything?

[2016-02-07 19:20] softwarespot commented on #164
Event? >> https://cdn.polyfill.io/v2/docs/features/#Event

[2016-02-07 19:25] LeaVerou commented on #164
We don't use that. Maybe we should, but we currently don’t :)

[2016-02-07 20:23] LeaVerou commented on #164
[PR sent](https://github.com/Financial-Times/polyfill-service/pull/596)

[2016-02-08 17:10] dperrymorrow commented on #164
super cool...
a few that come to mind. Some of these only need polyfilled if we are going to support IE8.

``` Array.prototype.forEach() ```
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach
``` Function.prototype.bind() ```
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind
``` Array.prototype.reduce() ```
ht

[2016-02-08 20:51] LeaVerou commented on #164
Can you guys please check my PR (which is now merged) before suggesting things?
I believe I have added all 4 of those.

[2016-02-13 21:39] LeaVerou commented on #156
Do you think this should only apply to events attached via `$.events` or also events attached via `addEventListener`? Since we wrap `addEventListener` in Bliss Full, the latter is also possible, but I’m a bit worried it might be too intrusive. Do people use periods in their event names for other reasons?

[2016-02-13 21:46] dzek69 commented on #156
PERSONALLY I would like it to work with addEventListener too. I don't know about the others. I never heard about naming events with periods. A notice in the docs would be enough for me.

[2016-02-13 21:46] LeaVerou commented on #156
It’s actually much easier to implement that way, so that’s what I’m doing.

[2016-02-13 21:47] dzek69 commented on #156
Awesome, thanks.

[2016-02-14 02:31] #156 closed

[2016-02-14 03:53] LeaVerou commented on #156
@dzek69 I pushed and added some docs :) It still needs tests though.

[2016-02-14 03:54] LeaVerou opened #166 "Tests for $.unbind()"
See here: #156
I added docs too. Anyone willing to write tests?

[2016-02-15 14:43] jxc876 commented on #166
I'll take a shot at this.
I can register various event handlers (sinnon spies), then remove then using `unbind`, trigger an event and verify that the spies did not get called.

[2016-02-15 20:53] LeaVerou commented on #166
Thanks!!

[2016-02-16 08:15] gabrielstuff opened #168 "Issue with Machina.js"
Hey, we are trying to move on Bliss but we face some issue.
Here is an example bin :
http://requirebin.com/?gist=5949db07e001e3b68fec

The example runs perfectly without bliss. As soon as bliss is require it all falls apart and throw undefined.
As for now I did not investigate much but I guess this approach leads to the issue :

Thanks !

[2016-02-16 08:21] gabrielstuff commented on #168
Hmmm, missing a semi :) closing this for now.

[2016-02-16 08:21] #168 closed

[2016-02-16 08:50] LeaVerou commented on #168
Ok! Let us know if you run into any other issues :)

[2016-02-22 01:03] nevf opened #170 "$.fetch() with timeout option may never resolve/reject"
If I specify options: ```{ timeout: 1000 }``` and the request takes longer than this ```fetch()``` never resolves or rejects.

I only started using bliss today so may have this wrong but adding the following resolves this issue.

[code]

ref: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests#Example_using_a_timeout

I'd also suggest moving ```'da

[2016-02-22 02:38] LeaVerou commented on #170
No sure if I'm forgetting something, but there doesn't seem to be a timeout option, hence why it doesn't work :P
I wouldn't be opposed to adding one though! Feel free to send a pull request. Only caveat: You'd need to add some docs as well (which can be brief, but not nonexistent).

[2016-02-22 05:38] nevf commented on #170
@LeaVerou ```timeout``` is an XMLHttpRequest option that as per your doc's, you pass through. I'm afraid I'm snowed under right now re. a pull request.

[2016-02-22 06:20] LeaVerou opened #171 "No way to get status code if $.fetch() fails"
As discussed [on twitter](https://twitter.com/plaidphantom/status/701646710745903104).

[2016-02-22 06:21] #170 closed

[2016-02-22 06:21] #171 closed

[2016-02-25 05:04] nevf opened #173 "Add option in Bliss.full to exclude addEventListener hijacking"
I'm stuck with using jQuery and would still like to use the _ property on elements and arrays, However if I use Bliss Full I'm running into various issues with addEventListener etc. hijacking.

One way to resolve this is to add a new option: ```Bliss.NoHijack``` and wrap ```if ( !Bliss.NoHijack ){...}``` around the addEventListener and removeEventListener hijack code. And use ```<script>self.Bliss

[2016-02-25 05:32] LeaVerou commented on #173
We need to think a bit more about the name, but I like the idea.

[2016-02-25 05:33] LeaVerou commented on #173
One problem is that it's not enough to add the option and wrap the hijacking with a conditional. The parts that assume hijacking around the code would also need to change (mainly the event-related functions, e.g. unbind).

[2016-02-25 06:33] nevf commented on #173
@LeaVerou I've diff'd bliss.shy.js and bliss.js and can't see any difference except the additional code at the end if bliss.js. In other words I can't see any code in ```unbind()``` that knows about the hijacking code.

[2016-02-25 06:38] nevf commented on #125
+1 for the Plugins page. Just having it on Github would be a good start. And like @dperrymorrow the win is to have plugins accessible via. ```_``` on elements etc.

Also a short boilerplate example of writing a plugin using ```$.add()``` would be nice.

[2016-02-25 07:02] LeaVerou commented on #173
Yes, because those parts in Bliss Shy are there regardless, and check if the `_` property is available before executing. Eventually they should be moved to Bliss Full and use hooks.
Any code that uses `this._.bliss.listeners` depends on the hijacking.

[2016-02-25 07:41] LeaVerou commented on #125
Short example I actually have in my current Bliss-powered work project:

[code]

[2016-02-25 21:40] nevf commented on #173
@LeaVerou Ok I understand now. For my use case I can avoid using ```event()``` and ```unbind()`` as I already have this functionality in code I've written.

That said I can't see that ```event()``` add's anything to ```listeners``` and if I'm right ```unbind()``` won't be affected. ie. It is only the hook functions that add/remove ```listeners``` items.

[2016-02-25 21:53] nevf commented on #125
@LeaVerou Thanks, very helpful. However ```$.overload()``` isn't documented and ```$.classProps``` is only touched upon. ;-)

[2016-02-26 09:34] LeaVerou commented on #125
`$.overload()` is not crucial here, it just saves you from having to handle two signatures of the function, one with an object of key-value pairs and one with 2 arguments (one key and one value).

@dperrymorrow could you please add some documentation for `$.overload()`? (I do remember correctly that you wrote it, right? If not, sorry!) Even a stub with a 1 line description would be something.

[2016-02-26 18:03] dperrymorrow commented on #125
sure thing @LeaVerou will try to get to that today.

[2016-02-28 02:48] smargh opened #175 "Element getters?"
Lea,

Once again, a great library. Thank you so much for this! :)

I was wondering if you would be amenable to having the functions defined under `$.setProps` be written to work as both "getters" and "setters"? By this I simply mean that if you pass a param to the function (e.g. `Bliss.properties(subject, props)` or `subject._.properties(props)`) it functions as a "setter", but if you simply call

[2016-02-28 20:29] LeaVerou commented on #175
Not sure about this. How often do people need to get ALL properties or ALL attributes from an element? It seems like a special case to me, and as you pointed out, it can already be done in 1 line (for attributes just do `$$(this.attributes).map(attribute => attribute.name)`). We should be mindful of bloat, otherwise we'll end up with yet another bloated library.
What do others think?

[2016-02-28 20:30] LeaVerou commented on #175
That said, Bliss should be extensible enough to allow third party devs to do this via plugins. We already have a hooks system, though it cannot intercept the return value, so maybe we should work on that.

[2016-03-02 23:24] LeaVerou opened #176 "[Docs] "Show implementation" shows the source of $.overload() for overloaded functions"

[2016-03-02 23:26] LeaVerou commented on #176
Perhaps we can modify the function’s `toString()` inside $.overload() to return the result of the `toString()` method on the wrapped function? Thoughts, @dperrymorrow?

[2016-03-04 19:33] dperrymorrow commented on #125
added documentation,
https://github.com/LeaVerou/bliss/commit/eb0948b30309788b1c0600c3b3fe7bc5c4b75aee
http://blissfuljs.com/docs.html#fn-overload

[2016-03-04 19:47] dperrymorrow commented on #176
yeah I see that issue,
tried to debug it a bit, where does `$.sources` get populated, I'm not sure i understand whats going on there.

[2016-03-04 20:56] LeaVerou commented on #176
In the Bliss source, IIRC.

[2016-03-04 20:56] LeaVerou commented on #125
Fantastic, thanks!!

It might be good to have 2 keys in the object example.

[2016-03-04 21:00] LeaVerou opened #177 "$.Class() fails to run superclass constructor on multi-level inheritance"
Testcase:

[code]

I’m working on debugging this right now, anyone wants to turn the testcase above into a test with spies?

[2016-03-04 21:09] LeaVerou opened #178 "All classes created with $.Class() show up in the devtools as ret or Object"
`ret` in Chrome, `Object` in Firefox.

I've done some research on how to fix this, and it doesn't seem easy. `Function#name` is read-only, but it can be overridden with `Object.defineProperty`. However, even if we do that, it still doesn't show up in the devtools. There is also `Function#displayName`, which is proprietary, but that doesn't seem to work either. At this point, I’m out of ideas. Anyo

[2016-03-04 22:00] #177 closed

[2016-03-04 22:01] LeaVerou opened #179 "Tests for $.Class()"
Just realized we have no tests for $.Class(). Any takers?

(whoever's interested, also see #177 )

[2016-03-07 20:15] LeaVerou commented on #164
Done. http://blissfuljs.com/#browser-support

[2016-03-07 20:15] #164 closed

[2016-03-09 16:29] dperrymorrow commented on #179
Whoops! ill see if I can take care of that

[2016-03-09 19:42] LeaVerou commented on #179
Thanks!!

[2016-03-21 11:15] vkeusebio opened #180 "install through npm or bower"

[2016-03-21 12:58] davej opened #181 "Proposal: `addClassTransition` and `removeClassTransition`"
I like to keep CSS transitions in CSS rather than javascript and handle the transitions by adding/removing classes instead. Would a PR for this feature be accepted?

Usage Example:

[code]

[2016-03-21 23:08] LeaVerou commented on #180
https://www.npmjs.com/package/blissfuljs

[2016-03-21 23:10] LeaVerou commented on #181
The problem is that by toggling a class there might be different transitions that finish at different times, so which transitionend event does one listen to?

FWIW, you can use `$('#transition-demo').classList.add('active')` to add a class and then listen for the `transitionend` event you need, but I agree it's a bit clumsy. I wonder what kind of primitives should we add to Bliss to make this use

[2016-03-21 23:30] davej commented on #181
I guess the first one (like with `$.transition`). I believe you would have the same problem if you called `$.transition` multiple times on the same element with different durations, i.e. all promises will resolve on the first `transitionend` event for that element.

Yup, that's what I'm doing currently. :-)

Anyway feel free to close this issue if you think it's a non-starter, I agree that listeni

[2016-03-22 07:38] vkeusebio commented on #180
oh, well, can we at least let others know about this eg. put it in the README.md?

[2016-03-26 08:03] LeaVerou commented on #180
Sure! Pull request? :) :) :)

[2016-04-19 14:32] thany opened #183 "Calling a `$.add` plugin from $$()"
I would be cool to be able to call a plugin on a `$$(...)` selector, that was added via `$.add` where the `this` variable in that plugin would correspond to the **array** of elements, rather than it getting called for each item one by one.

So consider:
[code]
I would like to have the logged `this` in this example to be the array that contains all divs. perhaps as an option to `$.add`.

The reason

[2016-04-19 19:50] LeaVerou commented on #183
Hi there,

In many cases, having `this` refer to the current element simplifies things. If you want `this` to refer to the whole array, just add your method to `$.Array.prototype` directly. :)

[2016-04-20 08:29] thany commented on #183
True that.

Well, at least this may provide a solution for other people looking for this, either your approach or the one I suggested last :)

[2016-04-23 23:59] LeaVerou commented on #183
Yup! Closing this now, for tidyness. :)

[2016-04-23 23:59] #183 closed

[2016-04-25 21:19] #180 closed

[2016-04-29 09:52] thany opened #184 "No support for `Array.from` in IE10"
The readme says it supports IE9+, but in IE10 I'm getting two unhandled exceptions where it doesn't know about `Array.from`. Is it possible to rewrite it to use a substitute, so it works in IE10 again?

Afaik, this:
[code]
Can be rewritten as:
[code]
And it could be refactored to a dead-simple polyfill:
[code]
Or similar. Hope this helps :)

[2016-04-29 10:31] thany opened #185 "Documentation navigation"
The navigation in the documentation is currently showing a horizontal scrollbar and isn't full-height.

I'm not sure if it's supposed to be full-height, but I think the horizontal scrollbar should be an easy fix by just making it slightly wider ;)

Here's a screenshot to show what I mean:
![capture](https://cloud.githubusercontent.com/assets/152227/14913804/d8c2c74c-0e05-11e6-92f5-3e2d97904e92.PNG

[2016-04-29 18:41] LeaVerou commented on #184
It says it supports IE9+ when using alongside polyfill.io. For more details, look here: http://blissfuljs.com/#browser-support

Using `[].slice.call()` instead of `Array.from()` is against our design goals. Instead, we have hand-picked exactly the polyfills Bliss needs, and you can include them conditionally via polyfill.io.

[2016-04-29 18:41] #184 closed

[2016-04-29 18:43] LeaVerou commented on #185
Thanks! Could you type `console.log(innerWidth, innerHeight)` in the console and tell me what the values are when this happens?

[2016-04-29 21:31] thany commented on #185
Sure, here you go:
[code]
It seems fine when fully maximized on my WUXGA monitor, but not when almost maximized. I didn't notice that before.

[2016-04-29 22:03] thany commented on #184
Hm. I kind of disagree there. Even for Edge it wants to include a bunch of polyfills! I thought it was going to be IE10 and lower only... So, here's my reasoning:

1. I feel the design goal should be to at least natively support the non-fossilized browsers without the need for polyfills. And those browsers do include IE11 and Edge. Polyfills should be for obsolete(-ish) browsers.
2. These polyfill

[2016-04-30 05:48] LeaVerou commented on #184
1. IE11 *is* a fossilized browser. It's obsoleted by Edge and will not get any updates.
2. A design goal of Bliss is to not bloat its core by including polyfill code, as authors can always include the polyfills they want. If you care that much, feel free to only include an `Array.from()` polyfill manually. It's not exactly a weight increase, since if you use polyfill.io, most browsers will not get

[2016-05-05 11:21] gamtiq opened #186 "[Docs] Mistaken type for condition argument of $.include"
In documentation `String` is specified as type for `condition` argument of [$.include](http://blissfuljs.com/docs.html#fn-include). But the argument's value can be of any type because the value is coerced to a boolean. Perhaps `Boolean` should be assigned as `condition`'s type.

[2016-05-08 03:43] #186 closed

[2016-05-08 03:43] LeaVerou commented on #186
Nice catch, thanks!
I removed the type completely as it could really be anything.

[2016-05-11 21:46] pryley opened #187 "allow to pass data through to a $.delegate() callback"
Maybe it's not necessary, but it would allow something like this (which is somewhat similar to jQuery's delegate/on):
[code]
instead of this:
[code]

[2016-05-11 23:34] LeaVerou commented on #187
You can already do that via:

[code]

[2016-05-11 23:34] #187 closed

[2016-05-31 17:43] stof opened #188 "[website] The "fork me on github" banner is not clickable"
This makes it very confusing.

I'm using firefox.

[2016-05-31 18:59] dperrymorrow commented on #188
hmm, I am not able to reproduce in Firefox 46.0.1 on Mac.
Can you give any further specifics?

[2016-06-01 08:08] stof commented on #188
sorry, I missed some info. this is happening on the documentation page. It is working fine on the homepage

[2016-06-20 02:00] StrongRef opened #192 "Travis fails when trying to setup test environment"
**Edit**
Fixed in pull request #193

[2016-06-20 02:10] StrongRef commented on #179
@dperrymorrow Any progress?
I can take a look at it otherwise.

[2016-06-20 23:17] dperrymorrow commented on #179
yeah i have not gotten to this @StrongRef apologies, its all yours if you have the time.

[2016-06-23 19:20] #192 closed

[2016-08-01 23:34] LeaVerou opened #194 "$(selector, context) and $$(selector, context) should return null/[] when context is provided but falsy"
Over time, I've run into a ton of bugs where I've done something like `$(".foo", bar)`, and because `bar` is somehow null or undefined or something, I end up getting the first `.foo` on the page, instead of the expected `null`, resulting in very unpleasant to debug issues.

I suspect this is a common issue, especially when people do `$(selector, $(otherselector))` and I cannot think of a single us

[2016-08-16 12:52] #194 closed

[2016-08-28 16:34] praveenpuglia commented on #188
Ok. Here after long long time and I see that the issue comes up when you are in 90% zoom mode. Basically the **Contents** sidebar div is overlaying on top of the banner around the **Fork Me** area. Adding an explicit `z-index: 1` solves the issue. I think in any case, we would want the banner to be on top of everything.

I'll send a PR for this one and see what happens :)

[2016-08-28 16:43] praveenpuglia commented on #185
Looking at this issue and #188, I think it's safer to move the banner to the top right corner instead of keeping it on top left and worrying about it colliding with the sidebar for docs. That place seems safe to me. Only the **Star** button has to move slightly on the left.

[2016-08-29 14:17] #188 closed

[2016-09-01 12:17] minimok opened #196 "Examples"
Your first example should surely be appending the 2 words "Hello" and "World" to a web page. That would be most useful.

[2016-09-06 20:23] LeaVerou commented on #196
You don't need any library for that, just do:

[code]

[2016-09-06 20:23] #196 closed

[2016-11-22 15:37] fredrikekelund commented on #39
I'm getting the same error in Firefox. All I need to do is include both bliss and lodash, and then call `addEventListener` on `window`. @spheroid- has it right, it's a name collision, could probably be helped by checking in bliss if `this[_] instanceof Bliss` or something similar.

[2016-12-05 18:23] minimok commented on #196
Thx...that specific example wasn't actually the point :-) LOL

[2016-12-07 17:17] LeaVerou commented on #196
Then perhaps you could try making an actual point? :)

[2016-12-07 17:50] LeaVerou commented on #39
FWIW, you can change the name of the `_` property, as described [in the docs](http://blissfuljs.com/docs.html#configuration)

[2016-12-09 12:21] fulls1z3 commented on #117
Hope it helps:

[code]

[2017-01-12 10:09] nayphyoaung commented on #161
@

[2017-02-02 15:32] tomdavies opened #197 "1.0.3 release + npm"
Hey, there are a decent number of fixes in the `gh-pages` branch relative to the latest version on npm  (the `v1.0.2` tag).

Any chance of a pushing a new tag for these?

Just spent better part of a day chasing down a bug that's was fixed in `gh-pages` back in April 2016, but I'd installed Bliss via `npm`, so only had `v1.0.2`.

[2017-02-02 22:06] LeaVerou commented on #197
I made a new release, ran `npm publish`, no errors, but for some reason npm insists that the latest version is v1.0.2. https://www.npmjs.com/package/blissfuljs
No idea what to try next :(

[2017-02-03 09:09] tomdavies commented on #197
Thanks for the quick reply - looks like [npm has caught up now](https://www.npmjs.com/package/blissfuljs)

[2017-02-03 09:09] #197 closed

[2017-02-03 19:12] LeaVerou commented on #197
So I guess they implemented some sort of caching. Well, that was frustrating! Glad it was ok in the end.

[2017-02-24 17:46] kajmagnus commented on #120
F.w.i.w., I added another performance test: https://jsperf.com/blizz-vs-jquery-complicated-selector/1 — and it shows Bliss and jQuery are about the same speed, for complicated selectors (`.foo .bar .baz`).

[2017-02-24 21:32] LeaVerou commented on #120
I believe they both use `querySelectorAll` internally so I'm not surprised.

[2017-02-25 16:36] kajmagnus commented on #120
Yes, that was what I was expecting, mostly wanted to confirm. I've added lots of more test cases now, and really both Bliss and jQuery are super slow in comparison to the built-in functions. So I'm going to add helpers like `$byClass(...)` and `$byId(...)` to lookup elems by class & id, and have them use the built-in functions instead of Bliss or jQuery.

Here're my results:

[code]

— as you can

[2017-07-09 02:31] kajmagnus opened #198 "Bliss.fetch doesn't expose the xhr, so cannot call abort()"
Hi, I'd like to sometimes abort an ongoing HTTP request, by calling `xhr.abort()`. But `Bliss.fetch()` returns a Promise only, via which I cannot access `xhr.abort()` ( https://github.com/LeaVerou/bliss/blob/gh-pages/bliss.shy.js#L374 )

What do you think about somehow making `xhr.abort()` accessible? or the whole `xhr`.

And how can that best be done? My first thought was to add an `abort()` func

[2017-07-09 03:07] LeaVerou commented on #198
That's such an excellent point!

I'm not sure what the API should look like, but we should **definitely** address this somehow.

So far, the best way I can think of is the `xhr` property you added on the promise. But there must be a better way…

[2017-07-09 03:26] kajmagnus commented on #198
I googled for `html5 fetch api` and found this: https://developer.mozilla.org/en-US/docs/Web/API/FetchController — however, it's experimental, and ... to me, looks a bit complicated.

So I agree with you that for the moment, probably just adding `xhr` on the promise, is a good approach.

Perhaps wait one .. two ... three years and see what'll happen with the fetch api spec :- )
perhaps later there

[2017-07-09 04:30] LeaVerou commented on #198
If you want to send a PR with your changes, I'd merge it!

[2017-07-12 18:32] kajmagnus commented on #198
Ok, I'll do :- )

[2017-08-20 20:53] joyously opened #200 "Wrong expectation for default Content-type on POST requests"
https://github.com/LeaVerou/bliss/blob/6bd9c0658693773b7a83db8ce18e7a9ecbe4306e/tests/objects/FetchSpec.js#L39

This test case is faulty. Not all `POST` requests should have the same default Content-type.
If you look at this [example](https://developer.mozilla.org/en-US/docs/Using_files_from_web_applications#Handling_the_upload_process_for_a_file_asynchronously), and try to code that with `fetch`

[2017-09-07 05:00] kajmagnus commented on #198
Closing this then, since the PR got merged. B.t.w. now I've ported the essential parts of my app from jQuery, to mainly React, + some Bliss also :- )

[2017-09-07 05:00] #198 closed

[2017-10-06 17:32] hugobessaa commented on #49
@jdalton has this issue been fixed on the Edge side? If so, which version? Thanks!

[2017-10-06 19:22] jdalton commented on #49
Hi @hugobessaa!

It looks like it's been fixed in Edge since v14 *(Aug 2016)*

[2017-10-16 14:09] hipertracker opened #201 "jQuery equivalent for find with contains"
How to find a DOM node in Bliss  which can be found in jQuery as:

[code]

[2017-10-16 14:47] LeaVerou commented on #201
You can't do that with a selector, Bliss only supports the same CSS selectors that the browser supports. So you'd have to loop over them, like this:

[code]

[2017-10-23 06:25] friday opened #202 "Fetch is incompatible with multipart"
`Content-Type` must be undefined for multipart requests. Bliss's `fetch()` always sets `Content-type`, so multipart is impossible, See https://stackoverflow.com/questions/39280438/fetch-missing-boundary-in-multipart-form-data-post and https://github.com/LeaVerou/bliss/blob/gh-pages/bliss.js#L366-L368

One solution would be to check the data and only set Content-type for strings:
[code]

[2017-10-23 20:18] friday opened #204 "Handling upload events in $.fetch() via options"
[xhr.upload](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/upload) has events too, just like the xhr-object. For example "onprogress".

$.fetch() allows you to assign to the xhr-object by passing "remaining" (not documented) options to it. However, with uploads you'd more likely want to pass them to xhr.upload, not xhr.

The best solution I could think of (backwards compatible an

[2017-10-25 13:47] friday commented on #161
URLSearchParams is useful if you want to manipulate a query string (probably intended for usage pushState and similar), but not as much if you want to build them from scratch from object literals. `set` only takes strings, so if you pass objects, arrays or other URLSearchParams it will convert them to strings ("[Object object]"). So it won't work with nested data structures, and for objects that a

[2017-10-25 18:10] LeaVerou commented on #202
Doesn't `headers: { "Content-Type": undefined }` work?

[2017-10-25 22:57] LeaVerou commented on #204
Agreed, that would be a good syntax for it. PR? :)

[2017-10-25 23:05] friday commented on #202
It doesn't.

`!env.headers["x"]` doesn't distinguish between between passing a "falsy" `x` value or passing no `x` value.

If you want to enable, `headers: { "Content-Type": undefined }` you could replace the conditions with it with `!("x" in env.headers)` though.

I agree with you that this is a safer/less controversial approach in terms of compatibility. Do you want me to try it out and submit a

[2017-10-26 03:30] LeaVerou commented on #202
Yes please! Thank you so much! 😀

[2017-10-26 04:29] friday commented on #204
I will wait until #205 is closed to avoid conflicts.

[2017-10-30 15:52] friday commented on #202
Fixed in https://github.com/LeaVerou/bliss/commit/7ee2577b8b4eea2765209b2b2c7f6182c38d1842: You can now pass `headers: {"content-type": undefined}` ("content-type" being case-insensitive) to use the content-type set by the browser. I'll probably create another issue with a suggestion similar to #203 however (sorry @LeaVerou ;))

[2017-10-30 15:52] #202 closed

[2017-10-31 21:16] friday commented on #204
Added in #207

[2017-10-31 21:16] #204 closed

[2017-11-01 13:11] friday opened #208 "Revise default content-type in $.fetch()"
The `data` argument in $.fetch() corresponds to the `body` argument in `XMLHttpRequest.send()`, which as per the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send#Parameters) can be:
* A `Document`
* A `BodyInit`, which means either `Blob` (and hence also `File`), `BufferSource`, `FormData`, `URLSearchParams`, `ReadableStream`, or `USVString`

Depending on what the `b

[2017-11-01 13:19] friday commented on #208
Sorry for my stubbornness @LeaVerou! I probably should have posted this before the PR to explain the motivation. I've been using axios before and this is more in line with how they handle it (though they also serialize object literals and couple this logic with setting content-type).

[2017-11-03 21:45] LeaVerou commented on #208
I would be happy to merge a PR on this since it doesn't break (significant) existing cases!

[2017-11-20 21:24] friday opened #213 "Fetch: Support object literal serialization (as JSON)"
Since #128 was fixed, the built-in object serialization was removed in favor of either diy-serialization or hooks.

I'm proposing to reintroduce object serialization, but as JSON, not query strings, because of the many issues and implementation details to settle with query strings.

#### Problems with query strings

* Converting nested data to to query strings is somewhat complex, likely adding at

[2017-11-20 21:28] friday commented on #213
I'm already wrapping `Bliss.fetch`, so I'm not in a hurry to get this added. I mainly wanted to share my discoveries (I tried to solve this using query strings at first).

Converting ex: `{foo: {bar: 1, x: {y: 'z'}}` to `foo[bar=1]&foo[x][y]=z` requires recursion. In the simplest form, something like this:

[code]

[2017-11-20 21:31] friday commented on #161
I just posted an alternative suggestion (json) to this problem: #213

[2017-11-20 22:21] LeaVerou commented on #213
The thing is, sometimes we *want* to send the actual object, e.g. uploading File objects.
So we need to be careful where we apply this stringification.

[2017-11-20 22:26] friday commented on #213
Yes. Only object literals should be supported imo. This can be avoided by checking the constructor (and probably many other ways)

[code]

[2017-11-20 22:28] LeaVerou commented on #213
Use the Bliss `$.type()` function. Your check would fail if the object comes from another window/frame.

[2017-11-20 22:36] friday commented on #213
Oh yeah, I recall something about this. Seems this applies to my suggestion as well :(

[2017-11-20 22:36] LeaVerou commented on #213
What do you mean?

[2017-11-20 22:39] friday commented on #213
Oh, I read that too quickly again. Nevermind that comment.

[2017-12-05 06:09] nikolay-borzov opened #214 "NPM package missing minified versions"
It's useful to have a minified version for projects that don't minify prodcution code (e.g. user scripts)
I guess it's caused by https://github.com/LeaVerou/bliss/commit/43e76d1a9750c805f04724a44967459981723e7d

[2017-12-05 06:34] LeaVerou commented on #214
The minified versions exist on the website, they are just not tracked in the repo anymore, to prevent conflicts.
http://blissfuljs.com/bliss.min.js
http://blissfuljs.com/bliss.shy.min.js

[2017-12-05 06:34] #214 closed

[2017-12-05 06:38] nikolay-borzov commented on #214
Ok then. It's still not very convenient to reference http://blissfuljs.com/bliss.shy.min.js from code

[2017-12-05 08:02] friday commented on #214
Excluding the builds from the git repo was certainly a great move, but it's very easy to override for npm: https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2017-12-12 15:02] extend1994 opened #215 "Files for CDN hosting (cdnjs)"
Hi I am a member from [cdnjs](https://github.com/cdnjs/).
cdnjs have hosted v1.0.0 ~ v1.0.4 of bliss.
Recently, I noticed that of all front-end files in the latest release v1.0.5, only `bliss.shy.js` left compared to previous release. I know it's because https://github.com/LeaVerou/bliss/commit/43e76d1a9750c805f04724a44967459981723e7d
Unfortunately, in this case cdnjs could not grab other front-en

[2017-12-12 20:13] LeaVerou commented on #215
Hi there,

We switched to using a build script on the server and removed generated files from the repo to prevent conflicts. I believe this is pretty common, and thought cdnjs has a way around it.
The files are still on our website, e.g. http://blissfuljs.com/bliss.min.js
Is there anything I could do to help cdnjs grab them?

[2017-12-13 06:27] extend1994 commented on #215
Thanks for quick reply!
Currently, cdnjs can only grab files of releases on npm or git repo (normally GitHub) "automatically".
We can get files from your website and then "manually" add them to cdnjs, which is not good in the long term.
I think It would be great if it's possible for you to publish `bliss.min.js` & `bliss.shy.min.js` in v1.0.5 on npm!  (`bliss.js` & `bliss.shy.js` are already there

[2017-12-13 17:40] LeaVerou commented on #215
Oh, I didn't know you could add files to npm that are ignored in git!
I created an `.npmignore` but I can't publish it over the previously published npm version.
Do you know of any other way to do this besides releasing a new version?

[2017-12-14 05:43] extend1994 commented on #215
If I am not misunderstanding you, all front-end files I mentioned above would appear in the future versions on npm, right?
In this case, I can manually add v1.0.5. cdnjs auto-update script will grab future versions :)

[2017-12-14 14:34] LeaVerou commented on #215
Yes, thank you!

[2017-12-14 23:25] extend1994 commented on #215
Thank you too! I will resolve cdnjs/cdnjs#12318 ASAP!

[2017-12-14 23:25] #215 closed

[2017-12-28 09:30] cyrilchapon commented on #107
Is there a way to use it in an ES6, babel, webpack env right now ? :)

[2018-04-10 20:05] joyously opened #216 "Comment: moving to 'modern' libraries and using the same '_' name"
In a recent javascript meeting for WordPress core, it was determined that the Lodash library would be used and the Underscores library would be phased out. Apparently, Lodash being more modern.
Both of these use the `_` character for the main name, so I was reminded of Bliss.
I don't think they interfere with each other, but as the meeting referenced this [migration summary](https://github.com/lod

[2018-04-11 07:46] LeaVerou commented on #216
I'm not sure how you'd define "more modern", but Bliss is not an alternative of lodash/underscore, they have different purposes. There is some overlap for certain things, but Bliss is also a DOM helper etc, while Underscore/lodash primarily focus on ES utilities.

I cannot tell you what to use, since there's no canonical "right answer". It depends on what you are trying to do.

You do realize that

[2018-04-11 13:43] joyously commented on #216
The "more modern" was the term they used, but I doubt they could define it either. jQuery was also in the list to be phased out (of use in the core code), but they'd still have to keep it around for backward compatibility (like forever).

Perhaps the issue is just documentation then. Having read Bliss' docs several times, and coded some with it, I still don't see clearly what you state: "Bliss is

[2018-06-05 16:10] Chieftl commented on #161
You can try to use [q-flat](https://www.npmjs.com/package/q-flat) package
It makes objects flat like this:
[code]
will be convert to
[code]

More details:
https://github.com/sindresorhus/query-string/pull/147#issuecomment-394740580

[2018-06-05 17:27] friday commented on #161
You probably shouldn't use query strings for that ^. All your numbers will be converted to strings. See #213.

[2018-06-05 17:39] Chieftl commented on #161
@friday well, I don't use query-string for that, I use that for query-string :)

[2018-06-12 15:36] joyously commented on #107
Does this article help?
https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

[2018-06-12 17:20] LeaVerou commented on #107
@tracker1 Agreed! Pull request?

[2018-08-02 17:43] stof opened #218 "Displaying the implementation in the doc is broken for anything using overload"
Any function using the `overload` helper is displaying the implementation of the inner function of `overload` as its implementation in the doc, which is not really helpful to see how this relates to native APIs (as we don't see the implementation of `callback` where the actual logic happens).

[2018-08-03 06:59] stof commented on #218
OK, duplicate of https://github.com/LeaVerou/bliss/issues/176

[2018-08-03 06:59] #218 closed

[2018-10-23 04:28] danielzfranklin opened #219 "Non-shy bliss fails in electron"
I import Bliss using
[code]
and get the error
[code]

The error doesn't appear when I only
[code]

The first error references the file `web-view.js`, the relevant function is
[code]

The second function references the file `init.js`, the relevant function is
[code]

Is electron supported?

[2018-11-06 08:17] matthiask commented on #107
I don't know how to solve this "correctly", but [here's what I'm doing](https://406.ch/writing/using-bliss-with-webpack/):

First, `yarn add https://github.com/LeaVerou/bliss/` (you can also use a released versions, but why not use the latest and best version of Bliss?)

Then, once:

[code]

Afterwards, in all files where you want to use Bliss, do this:

[code]

The `eslint-disable-line` comment s

[2018-12-08 12:21] hopeful2 opened #221 "Memory leak bug in unbind method"
Hi Lea,

There is a bug in $.unbind method that may contribute to rapid memory leak and causes failures to remove anonymous handlers. It works together with a bug in Mavo to amplify the memory leak problems in Mavo apps. I am filing this issue here so other Bliss users can be aware of this when searching through issues.  I will submit a separate bug report to Mavo repo shortly.

## The bug

When a

[2018-12-09 06:42] LeaVerou commented on #221
Oh I see, I understand the fix now, ignore my question in the PR!

[2018-12-09 06:43] #221 closed

[2018-12-17 12:13] berarma opened #224 "Npm package doesn't work, bad code"
This is very strange. I've installed the package with ```npm install blissfuljs```. I have version 1.0.5. The source code is different than the one in the repository for file ```bliss.shy.js``` and I haven't found this code in any old commit or the releases.

I'm getting an error calling ```$.ready(callback)``` at line 575 of said file because var ```callback``` doesn't exist. In the latest github

[2019-03-02 04:48] x1B commented on #224
Having the same issue. Sticking with `1.0.2` for now which does not seem to have this problem (did not try the intermediary versions `1.0.3`/`1.0.4` yet).

[2019-03-04 20:35] LeaVerou commented on #224
That's very weird. Have you found any other way in which the code on npm is different?

[2019-03-05 13:32] x1B commented on #224
@LeaVerou I just tried building `1.0.5` from source, and I am getting a different output.

AFAICS the registry version of `unbind` is broken because the local `callback` is never assigned. It looks like the build was created from different sources, maybe accidentally including local changes?

[code]

[2019-03-05 23:06] LeaVerou commented on #224
Odd. I guess I can just release a new version (there's been 18 commits since 1.0.5) and make sure everything is properly built before `npm publish`. Would that help or do you *need* an older version?

[2019-03-06 01:53] x1B commented on #224
Personally I am fine with `1.0.2` (got moved to the newer version due to the semver selector). If you build a new version, I'd be happy to try it, though. Really odd that I didn't notice this problem sooner 🤔 . I could've sworn that I reinstalled my deps several times since 1.0.5 was released.

[2019-06-19 14:40] nikolay-borzov commented on #224
Still, it would be great to publish a new version.

[2019-06-29 15:59] backspaces opened #226 "Provide es6 modules"
This is a request for an es6 module version of the project.

Generally I'd suggest simple running rollup with the rollup-plugin-commonjs which converts many legacy repos. Alas this does not work here. There is another issue request for CJS format, and if that is done, then rollup-plugin-commonjs would work.

Just to be clear, and I've guided other repos thru the process, the simplest approach is:

[2020-06-18 22:01] pix666 opened #230 "TypeError: Cannot read property 'handleEvent' of null"
This code:
[code]
causes a TypeError:
[code]

The above code is commonly used for checking for `passive` option support.
Link: [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener)

[2020-06-20 17:52] LeaVerou commented on #230
Confirmed. This would be a very easy first PR, so I'm gonna mark it as such.

[2020-10-17 12:44] UweOhse opened #234 "TypeError: evt.target.closest is not a function"
`Bliss.delegate(document.body, "dragstart", "[draggable=true]", function(e) { /* nothing */ });
`
leads to the exception in the title if one drags a text, because a dragstart event runs, and is handled here:
[code]

evt.target unfortunately is a text in this case, and has no closest() method.

A fix is simple:
`   if (evt.target.closest && evt.target.closest(selector)) {`
(tested, works)

btw: bli

[2020-10-21 14:04] LeaVerou commented on #226
Yup, this is a huge goal of mine going forwards, especially as I want to use Bliss in ESM projects of mine!

[2020-10-21 17:36] LeaVerou commented on #234
Thanks for reporting! I've added it to my radar.

Actually, a better fix would be to use `evt.parentNode.closest()` in this case which is essentially what you need.

[2020-10-21 17:46] LeaVerou commented on #224
@nikolay-borzov I did release a new version when I said I would. The current version on npm is 1.0.6, which is the latest version.

[2020-10-21 17:47] #224 closed

[2020-10-21 17:49] LeaVerou commented on #107
FWIW, I'm currently doing a rewrite of Bliss to use ESM. Should I close this as a duplicate of #226, since once that's complete, this will be resolved too?

[2020-10-21 18:24] matthiask commented on #107
@LeaVerou Closing as a duplicate makes sense to me.

[2020-10-22 14:36] #107 closed

[2020-11-07 23:12] joyously commented on #213
Is the `fetch` function still needed? Is it stated somewhere what range of browser versions this is now intended for?

[2020-11-08 00:18] friday commented on #213
Perhaps not @joyously. However Bliss's Fetch implementation is not a polyfill. It's different from the Fetch standard in small ways that means people who use it can't just drop-in replace the native browser Fetch or a polyfill.

The browser support for Fetch is very good today. When the Fetch API standard was released and got initial browser support you couldn't get any upload/download progress or

[2020-11-15 01:47] tracker1 commented on #107
I'm really sorry for not responding sooner, usually try to check GH notices a few times a week, but the past couple months have been abnormally busy... @LeaVerou cool beans on the rewrite.  Honestly should have done a PR much sooner.

[2020-11-28 08:34] DudhaneShrey86 commented on #230
Is this issue still open? I have created a pull request.
Just added an "if(options != null)" check in the bind function.

[2021-07-07 01:31] asdasd23123132 opened #243 "水电费师傅"
![虚伪的美国医疗体系（英文）](https://user-images.githubusercontent.com/87049449/124686603-031d9400-df06-11eb-9100-5773d974f47e.JPG)

[2021-07-17 14:57] dashixiong8888 opened #244 "免登陆不限速下载百度网盘资源"
免登陆不限速下载百度网盘资源
[度老七官网](https://dulao7.com/)
通过上边那个网站去下载百度网盘里边的资源，不需要登录自己的百度账号，而且下载的时候不限速，个人实测家庭带宽每秒下载20多MB每秒，有群友在服务器上实测下载速度每秒60多MB，欢迎大家前来体验！

【感谢项目主提供宝贵的地方让更多的人能用上这个好东西】

No login to download Baidu.com resources without speed limit
https://dulao7.com/
Through that website to download the resources in the Baidu network disk, do not need to log in their own Baidu account, and download speed is not l

[2021-08-01 16:32] LeaVerou opened #245 "Error when a class defined via $.Class() extends an ES6 class"
This is the line that errors: https://github.com/LeaVerou/bliss/blob/master/bliss.shy.js#L214

This can easily happen when base code refactors to use ES6 classes, but plugins and libraries based on it do not.

Minimal testcase:

[code]

[2021-08-02 12:05] LeaVerou commented on #245
It looks like there might not be a way to work around this, it doesn't look possible to call ES6 constructors as a regular function. Perhaps our best bet is to detect these cases and provide a more meaningful error.

[2021-08-02 14:28] LeaVerou commented on #245
Closing for now, since there doesn't seem to be anything better we can do.

[2021-08-02 14:28] #245 closed

[2021-08-28 14:45] cyfung1031 opened #246 "Suggested API for Bliss 2.0 - attributes and class"
In the current version, it is hard to add/remove attribute and className using Bliss's functions

one common use in jQuery is
[code]

In the current bliss,
[code]

If you do that operation with other `setProps`, it would be so ugly.

[code]

I would suggest to have two APIs for that purpose.

[code]

then the code become much better.

[code]

Remarks:
1. `.attributes()` can be merged with `.sAttr(

[2021-08-28 15:11] cyfung1031 opened #247 "Suggested API for Bliss Shy 2.0 - $._ and $$._"
`xxxx._.yyyy(...)` is very convenient but no such thing in Bliss Shy.

Therefore I would suggest $._ and $$._ for such purpose.

usage
[code]

coding:
[code]

[2021-08-28 19:24] cyfung1031 opened #248 "Event Hijack is against "Heavenly JavaScript!" - Bliss Full vs Bliss Shy"
### Bliss Full vs Bliss Shy - document.currentScript

When I saw Bliss Full and Bliss Shy, I thought their difference is as huge as jQuery and jQuery Slim, but actually they are almost the same.

I think it is better to merge as one with url search option in `document.currentScript`.

* Bliss: "bliss.min.js?with=clone, _, event"
* Bliss Shy: "bliss.min.js"

The similar implementation is already fo

[2021-08-29 09:13] LeaVerou commented on #248
Differentiating behavior through `document.currentScript` is an antipattern for a variety of reasons. It breaks with bundles, it breaks if authors rename a script, and it breaks in a variety of contexts that don't have `document.currentScript` defined (e.g. modules).

[2021-08-29 09:15] LeaVerou commented on #247
Why is

[code]

better than the current

[code]

?

I think we should just make it so that strings can be accepted instead of elements or arrays, then it just becomes:

[code]

[2022-01-28 11:01] Nervniyak commented on #230
Any news on that? Would be really nice to see that fixed already.